<template>
  <div>
    <h6 class="text-warning">
      Assets given to Employee
      <button class="btn btn-primary pull-right ml-auto" @click="addModal">
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <!-- <b-table
        :items="assets"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filter-included-fields="filterOn"
        stacked="lg"
        show-empty
        large
        head-variant="dark"
        :striped="true"
        @filtered="onFiltered"
        class="text-light"
        :sortable="false"
      >
        <template v-slot:head(selected)="data">
          <b-checkbox
            v-model="checkallAssets"
            :value="true"
            :unchecked-value="false"
            @change="selectAllAssets"
            >Select All</b-checkbox
          >
        </template>
        <template #cell(selected)="row">
          <b-checkbox
            v-model="row.value"
            :value="true"
            :unchecked-value="false"
          ></b-checkbox>
        </template>
        <template #cell(assetType)="row">
          {{ row.value.name }}
        </template>
        <template #cell(brand)="row">
          {{ row.value.name }}
        </template>
        <template #cell(condition)="row">
          {{ row.value.name }}
        </template>
        <template #cell(edit)="row">
          <button class="btn btn-primary btn-sm" @click="updateModal(row.item)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
        </template>
      </b-table> -->

      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Asset Type</th>
            <th>Brand</th>
            <th>Serial #</th>
            <th>Condition</th>
            <th>Value</th>
            <th>Description</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(asset, index) in assets" :key="index">
            <td>{{ asset.assetType.name }}</td>
            <td>{{ asset.brand.name }}</td>
            <td>{{ asset.serial }}</td>
            <td>{{ asset.condition.name }}</td>
            <td>{{ asset.currency.symbol + " " + asset.value }}</td>
            <td>{{ asset.description }}</td>
            <td>{{ asset.issuedDate }}</td>
            <td>{{ asset.returnDate }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                @click="updateModal(asset)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="assets.length == 0">
            <td colspan="9" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      title="Employee Assets"
      ref="employee-assets"
      size="lg"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="12">
          <b-form-group label="Serial No*" label-for="serial_number">
            <input
              id="serial_number"
              type="text"
              v-model="editData.serial"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <div class="form-group col-6">
          <label for="asset_type_id">Asset Type*</label>
          <multiselect
            v-model="editData.assetType"
            id="type"
            track-by="id"
            label="name"
            placeholder="Select Asset"
            :options="assetTypes"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            @select="setFilters"
            @remove="resetParams"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="asset_brand_id">Brand*</label>
          <multiselect
            v-model="editData.brand"
            track-by="id"
            label="name"
            id="brand"
            placeholder="Select Brand"
            :options="assetBrands"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            @select="setFilters"
            @remove="resetParams"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="asset_condition_id">Condition*</label>
          <multiselect
            v-model="editData.condition"
            track-by="id"
            label="name"
            placeholder="Select Condition"
            id="condition"
            :options="assetConditions"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            @select="setFilters"
            @remove="resetParams"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="asset_condition_id">Items*</label>
          <multiselect
            v-model="editData.item"
            track-by="id"
            label="name"
            placeholder="Select Items"
            id="condition"
            :options="assetItems"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            :disabled="assetItems.lenght == 0"
            @select="itemSelected"
          >
          </multiselect>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-6">
          <b for="serial_no"
            >Currency:
            {{
              editData.currency
                ? editData.currency.symbol + " " + editData.currency.name
                : ""
            }}</b
          >
        </div>
        <div class="form-group col-6">
          <b for="serial_no">Value: {{ editData.value }}</b>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            v-model="editData.description"
          ></textarea>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-md-4">
          <label for="country">Issue Date*</label>
          <b-input-group>
            <b-form-input
              id="issue-date"
              v-model="editData.issuedDate"
              type="text"
              placeholder="Issue Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.issuedDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="issue-date"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-md-4">
          <label for="country">Return Date</label>
          <b-input-group>
            <b-form-input
              id="return-date"
              v-model="editData.returnDate"
              type="text"
              placeholder="Return Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.returnDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="return-date"
                :min="editData.issuedDate"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-md-4">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.returned"
                true-value="1"
                false-value="0"
              />
              <span>Returned?</span>
            </label>
          </div>
        </div>
      </b-row>
      <b-row>
        <b-col cols="6">
          <label for="country">Assigning Images</label>
          <vue-upload-multiple-image
            @upload-success="uploadAssingImages"
            @before-remove="removeAssignImages"
            :data-images="assigningImages"
            primaryText="Images"
            dragText="Drag & Drop Files"
            browseText="Browse Files"
            idUpload="assignImages"
            :showEdit="false"
          ></vue-upload-multiple-image>
        </b-col>
        <b-col cols="6">
          <label for="country">Return Images</label>
          <vue-upload-multiple-image
            @upload-success="uploadReturnImages"
            @before-remove="removeReturnImages"
            :disabled="!editData.returned"
            :data-images="returnImages"
            primaryText="Images"
            dragText="Drag & Drop Files"
            browseText="Browse Files"
            idUpload="returnImages"
            :showEdit="false"
          ></vue-upload-multiple-image>
        </b-col>
      </b-row>
      <b-row>
        <b-row>
        <div class="form-group col-12">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            v-model="editData.returnDescription"
          ></textarea>
        </div>
      </b-row>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateAsset"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addAsset"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
      <b-toast id="employee-assets-erros" variant="danger" solid no-auto-hide>
        <template #toast-title>
          <div class="d-flex flex-grow-1 align-items-baseline">
            <strong class="mr-auto">Errors!</strong>
          </div>
        </template>
        <ul>
          <li v-for="error in errors" :key="error">{{ error.error }}</li>
        </ul>
      </b-toast>
    </b-modal>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import VueUploadMultipleImage from "vue-upload-multiple-image";
export default {
  components: { Multiselect, VueUploadMultipleImage },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    currencies: Array,
  },
  created() {
    this.getAssetsTypes();
    this.getAssetsBrands();
    this.getAssetsConditions();
    this.getFilteredItems();
    this.assets = this.tabData;
    this.totalRows = this.assets.length;
  },
  data() {
    return {
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      totalRows: 0,
      assigningImages: [],
      returnImages: [],
      assets: [],
      errors: [],
      fields: [
        ,
        { key: "selected", label: "Selected" },
        { key: "assetType", label: "Asset Type" },
        { key: "brand", label: "Brand" },
        { key: "serial", label: "Serial#" },
        { key: "condition", label: "Condition" },
        { key: "value", label: "Value" },
        { key: "description", label: "Description" },
        { key: "issuedDate", label: "Issue Date" },
        { key: "returnDate", label: "Return Date" },
        { key: "edit", label: "Edit" },
      ],
      assetItems: [],
      assetTypes: [],
      assetBrands: [],
      assetConditions: [],
      editData: {},
      add: false,
      edit: true,
      added: false,
      updated: false,
      checkallAssets: false,
      allSelected: false,
      itemParams: {
        type: null,
        condition: null,
        brand: null,
      },
      assignImages: [],
      returningImages: [],
      imageFiles: [],
    };
  },
  methods: {
    async getAssetsTypes() {
      axios
        .get("/asset-types/all/data")
        .then((res) => {
          this.assetTypes = res.data;
        })
        .catch((err) => {});
    },
    async getAssetsBrands() {
      axios
        .get("/asset-brands/all/data")
        .then((res) => {
          this.assetBrands = res.data;
        })
        .catch((err) => {});
    },
    async getAssetsConditions() {
      axios
        .get("/asset-conditions/all/data")
        .then((res) => {
          this.assetConditions = res.data;
        })
        .catch((err) => {});
    },
    setFilters(value, id) {
      if (id == "type") {
        this.itemParams.type = value.id;
      }
      if (id == "condition") {
        this.itemParams.condition = value.id;
      }
      if (id == "brand") {
        this.itemParams.brand = value.id;
      }
      this.getFilteredItems();
    },
    getFilteredItems() {
      axios
        .get("/asset-items/filter", { params: this.itemParams })
        .then((res) => {
          this.assetItems = res.data;
        })
        .catch((err) => {});
    },
    resetParams(value, id) {
      if (id == "type") {
        this.itemParams.type = null;
      }
      if (id == "condition") {
        this.itemParams.condition = null;
      }
      if (id == "brand") {
        this.itemParams.brand = null;
      }
      this.getFilteredItems();
    },
    itemSelected(value, id) {
      this.editData.currency = value.currency;
      this.editData.value = value.sale_price;
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.editData = {};
      this.itemParams = {};
      this.editData.currency = "";
      this.editData.value = "";
      this.$refs["employee-assets"].show();
    },
    updateModal(asset) {
      this.add = false;
      this.edit = true;

      this.editData = {
        id: asset.id,
        assetType: {
          id: asset.assetType.id,
          name: asset.assetType.name,
        },
        brand: {
          id: asset.brand.id,
          name: asset.brand.name,
        },
        condition: {
          id: asset.condition.id,
          name: asset.condition.name,
        },
        item: {
          id: asset.item.id,
          name: asset.item.name,
        },
        currency: {
          id: asset.currency.id,
          name: asset.currency.name,
          symbol: asset.currency.symbol,
        },
        serial: asset.serial,
        value: asset.value,
        issuedDate: asset.issuedDate,
        returnDate: asset.returnDate,
        returned: asset.returned == 1 ? true : false,
        description: asset.description,
        description: asset.returnDescription,
      };
      this.assigningImages = [];
      this.returnImages = [];
      asset.assignImages.forEach((image, index) => {
        this.assigningImages.push({
          id: image.id,
          path: image.path,
          caption: image.image,
          default: 1,
          highlight: 1,
        });
      });
      asset.returnImages.forEach((image, index) => {
        this.returnImages.push({
          id: image.id,
          path: image.path,
          caption: image.image,
          default: 1,
          highlight: 1,
        });
      });
      this.$refs["employee-assets"].show();
    },
    getData() {
      this.errors = [];
      this.added = false;
      this.updated = false;
      let data = {
        user_employee_id: this.employeeId,
        asset_type_id:
          this.editData.assetType != null ? this.editData.assetType.id : "",
        asset_brand_id:
          this.editData.brand != null ? this.editData.brand.id : "",
        asset_condition_id:
          this.editData.condition != null ? this.editData.condition.id : "",
        asset_item_id: this.editData.item != null ? this.editData.item.id : "",
        currency_id:
          this.editData.currency != null ? this.editData.currency.id : "",
        serial_no: this.editData.serial,
        value: this.editData.value,
        description: this.editData.description,
        return_description: this.editData.returnDescription,
        issue_date: this.editData.issuedDate,
        return_date: this.editData.returnDate,
        returned: this.editData.returned,
        assign_images: this.assignImages,
        return_images: this.returningImages,
      };
      return data;
    },
    addAsset() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/assets", data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          this.$refs["employee-assets"].hide();
          this.added = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("employee-assets-erros");
        });
    },
    updateAsset() {
      let data = this.getData();
      let t = this;
      axios
        .put("/employee-assets/" + this.editData.id, data, {
          "Content-Type": "multipart/form-data",
        })
        .then((res) => {
          console.log(res.data);
          this.$refs["employee-assets"].hide();
          this.updated = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("employee-assets-erros");
        });
    },
    hideModal() {
      this.$refs["employee-assets"].hide();
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    selectAllAssets() {
      this.assets.forEach((asset) => {
        Vue.set(asset, "selected", this.checkallAssets);
      });
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    uploadAssingImages(formData, index, fileList) {
      this.assignImages = fileList;
    },
    removeAssignImages(index, done, fileList) {
      var r = confirm("remove image");
      if (r == true) {
        let data = {
          name: fileList[index].caption,
          tpye: "assigning",
        };
        axios
          .delete("/employee-asset-images/" + fileList[index].id)
          .then((res) => {})
          .catch((err) => {});
        done();
      } else {
      }
    },
    uploadReturnImages(formData, index, fileList) {
      this.returningImages = fileList;
    },
    removeReturnImages(index, done, fileList) {
      var r = confirm("remove image");
      if (r == true) {
        let data = {
          name: fileList[index].caption,
          tpye: "return",
        };
        axios
          .delete("/employee-asset-images/" + fileList[index].id)
          .then((res) => {})
          .catch((err) => {});
        done();
      } else {
      }
    },
  },
};
</script>
