<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Bank Information</b>
      <button class="btn btn-primary pull-right ml-auto" @click="addModal">
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Bank Name</th>
            <th>Account Number</th>
            <th>IBAN Number (23 Digits)</th>
            <th>Account Holdar Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(info, index) in bankInfos" :key="'bank-' + index">
            <td>{{ info.bank.name }}</td>
            <td>{{ info.accountNumber }}</td>
            <td>{{ info.iban }}</td>
            <td>{{ info.accountHolder }}</td>
            <td>{{ info.description }}</td>
            <td>{{ info.status != "" ? "Active" : "Not-Active" }}</td>
            <td>
              <button class="btn btn-primary btn-sm" @click="updateModal(info)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="bankInfos.length == 0">
            <td colspan="7" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      ref="employee-bank-account"
      title="Employee Bank Information"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-12">
          <label for="bank_id">Bank Name*</label>
          <multiselect
            v-model="editData.bank"
            track-by="id"
            label="name"
            placeholder="Select Bank"
            :options="banks"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="account_no">Account Number*</label>
          <input
            type="text"
            class="form-control"
            v-model="editData.accountNumber"
            placeholder="Account Number"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="iban_no">IBAN Number (23 Digits)*</label>
          <input
            type="text"
            class="form-control"
            v-model="editData.iban"
            placeholder="IBAN Number"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="account_holdar_name">Account Holder Name*</label>
          <input
            type="text"
            class="form-control"
            v-model="editData.accountHolder"
            placeholder="Account Holder Name"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.status"
                true-value="1"
                false-value="0"
              />
              <span>Status</span>
            </label>
          </div>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="description">Description</label>
          <textarea
            v-model="editData.description"
            class="form-control"
          ></textarea>
        </div>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateBankInfo"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addBankInfo"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="bank-info-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
  },
  created() {
    this.getBanks();
    this.bankInfos = this.tabData;
  },
  data() {
    return {
      bankInfos: [],
      banks: [],
      errors: [],
      editData: {},
      add: false,
      edit: true,
      added: false,
      updated: false,
    };
  },
  methods: {
    async getBanks() {
      axios
        .get("/banks/all/data")
        .then((res) => {
          this.banks = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.editData = {};
      this.$refs["employee-bank-account"].show();
    },
    updateModal(info) {
      this.add = false;
      this.edit = true;
      this.editData = {
        id:info.id,
        bank: {
          id: info.bank.id,
          name: info.bank.name,
        },
        accountNumber: info.accountNumber,
        iban: info.iban,
        accountHolder: info.accountHolder,
        description: info.description,
        status: info.status,
      };
      this.$refs["employee-bank-account"].show();
    },
    getData() {
      this.errors = [];
      this.added = false;
      this.updated = false;
      let data = {
        user_employee_id: this.employeeId,
        bank_id: this.editData.bank != null ? this.editData.bank.id : "",
        account_no: this.editData.accountNumber,
        iban_no: this.editData.iban,
        account_holdar_name: this.editData.accountHolder,
        description: this.editData.description,
        status: this.editData.status,
      };
      return data;
    },
    addBankInfo() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/bank-details", data)
        .then((res) => {
          this.added = true;
          this.$refs["employee-bank-account"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("bank-info-errors");
        });
    },
    updateBankInfo() {
      let data = this.getData();
      let t = this;
      axios
        .put("/bank-details/" + this.editData.id, data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-bank-account"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("bank-info-errors");
        });
    },
    hideModal() {
      this.$refs["employee-bank-account"].hide();
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
};
</script>
