<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Dependents </b
      ><small> (Upload Documents where applicable)</small>
      <button class="btn btn-primary pull-right ml-auto" @click="addModel">
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Relation</th>
            <th>Dependent Name</th>
            <th>Date Of Birth</th>
            <th>Country</th>
            <th>Passport No.</th>
            <th>Expiry</th>
            <th>Visa No.</th>
            <th>Expiry</th>
            <th>Travel</th>
            <th>Insurance</th>
            <th>Remarks</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="dependent in dependents" :key="dependent.id">
            <td>{{ dependent.relation.name }}</td>
            <td>{{ dependent.name }}</td>
            <td>{{ dependent.dateOfBirth }}</td>
            <td>{{ dependent.country.name }}</td>
            <td>{{ dependent.passportNumber }}</td>
            <td>{{ dependent.passportExpiry }}</td>
            <td>{{ dependent.visaNumber }}</td>
            <td>{{ dependent.visaExpiry }}</td>
            <td>{{ dependent.travel == 1 ? "Active" : "In-Active" }}</td>
            <td>{{ dependent.insurance == 1 ? "Active" : "In-Active" }}</td>
            <td>{{ dependent.remarks }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                @click="editModel(dependent)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="dependents.length == 0">
            <td colspan="12" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      title="Employee Dependants"
      ref="employee-dependants"
      size="lg"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-6">
          <label for="relation">Relation with Dependant*</label>
          <multiselect
            v-model="dependentEdit.relation"
            track-by="id"
            label="name"
            placeholder="Select Relation"
            :options="relations"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
        <div class="form-group col-md-6">
          <label for="country_id">Country*</label>
          <multiselect
            v-model="dependentEdit.country"
            track-by="id"
            label="name"
            placeholder="Select Country"
            :options="countries"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-7">
          <label for="name">Dependent Full Name*</label>
          <input
            type="text"
            class="form-control"
            placeholder="Dependant Full Name"
            v-model="dependentEdit.name"
          />
        </div>
        <div class="form-group col-5">
          <label for="country">Date of Birth*</label>
          <b-input-group>
            <b-form-input
              id="date-of-birth"
              v-model="dependentEdit.dateOfBirth"
              type="text"
              placeholder="Date of Birth"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="dependentEdit.dateOfBirth"
                button-only
                right
                button-variant="primary"
                locale="en-US"
                aria-controls="date-of-birth"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-7">
          <label for="passport_number">Passport Number</label>
          <input
            name="passport_number"
            id="passport_number"
            type="text"
            class="form-control"
            placeholder="Passport Number"
            v-model="dependentEdit.passportNumber"
          />
        </div>
        <div class="form-group col-5">
          <label for="country">Expiry Date</label>
          <b-input-group>
            <b-form-input
              id="expiry-date-passport"
              v-model="dependentEdit.passportExpiry"
              type="text"
              placeholder="Expiry Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="dependentEdit.passportExpiry"
                button-only
                right
                button-variant="primary"
                locale="en-US"
                aria-controls="expiry-date-passport"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-7">
          <label for="visa_number">Visa Number</label>
          <input
            name="visa_number"
            id="visa_number"
            type="text"
            class="form-control"
            placeholder="Visa Number"
            v-model="dependentEdit.visaNumber"
          />
        </div>
        <div class="form-group col-5">
          <label for="country">Expiry Date</label>
          <b-input-group>
            <b-form-input
              id="expiry-date-visa"
              v-model="dependentEdit.visaExpiry"
              type="text"
              placeholder="Expiry Date"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="dependentEdit.visaExpiry"
                button-only
                right
                button-variant="primary"
                locale="en-US"
                aria-controls="expiry-date-visa"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="dependentEdit.travel"
                true-value="1"
                false-value="0"
              />
              <span>Travel Fare</span>
            </label>
          </div>
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="dependentEdit.insurance"
                true-value="1"
                false-value="0"
              />
              <span>Insurance</span>
            </label>
          </div>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="remarks">Remarks</label>
          <textarea
            name="remarks"
            class="form-control"
            v-model="dependentEdit.remarks"
          ></textarea>
        </div>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateDependent"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDependent"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="dependent-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    relations: Array,
    countries: Array,
  },
  created() {
    this.dependents = this.tabData;
  },
  data() {
    return {
      dependents: [],
      errors: [],
      dependentEdit: {},
      edit: false,
      add: true,
      added: false,
      updated: false,
    };
  },
  methods: {
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    editModel(dependent) {
      this.edit = true;
      this.add = false;
      this.dependentEdit = {
        id: dependent.id,
        name: dependent.name,
        relation: {
          id: dependent.relation.id,
          name: dependent.relation.name,
        },
        country: {
          id: dependent.country.id,
          name: dependent.country.name,
        },
        dateOfBirth: dependent.dateOfBirth,
        passportNumber: dependent.passportNumber,
        passportExpiry: dependent.passportExpiry,
        visaNumber: dependent.visaNumber,
        visaExpiry: dependent.visaExpiry,
        travel: dependent.travel,
        insurance: dependent.insurance,
        remarks: dependent.remarks,
      };
      this.$refs["employee-dependants"].show();
    },
    addModel() {
      this.add = true;
      this.edit = false;
      this.dependentData = {};
      this.$refs["employee-dependants"].show();
    },
    hideModal() {
      this.$refs["employee-dependants"].hide();
    },
    getData() {
      this.added = false;
      this.updated = false;
      this.errors = [];
      let data = {
        user_employee_id: this.employeeId,
        relation_id:
          this.dependentEdit.relation != null
            ? this.dependentEdit.relation.id
            : "",
        date_of_birth: this.dependentEdit.dateOfBirth,
        name: this.dependentEdit.name,
        country_id:
          this.dependentEdit.country != null
            ? this.dependentEdit.country.id
            : "",
        passport_number: this.dependentEdit.passportNumber,
        passport_expiry: this.dependentEdit.passportExpiry,
        visa_number: this.dependentEdit.visaNumber,
        visa_expiry: this.dependentEdit.visaExpiry,
        travel_allounce: this.dependentEdit.travel,
        insurance: this.dependentEdit.insurance,
        remarks: this.dependentEdit.remarks,
      };
      return data;
    },
    async addDependent() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/dependants", data)
        .then((res) => {
          this.$refs["employee-dependants"].hide();
          this.added = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("dependent-errors");
        });
    },
    updateDependent() {
      let data = this.getData();
      let t = this;
      axios
        .put("/dependents/" + this.dependentEdit.id, data)
        .then((res) => {
          this.$refs["employee-dependants"].hide();
          this.updated = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("dependent-errors");
        });
    },
  },
};
</script>
<style>
.table {
  color: azure;
}
</style>
