<template>
  <div>
    <h6 class="text-warning">
      <b>Emergency Contact Numbers </b
      ><small>( Minimum 2 contacts required)</small>
      <button class="btn btn-primary pull-right ml-auto" @click="addModal">
        <i class="fa fa-plus"></i> Add
      </button>
    </h6>
    <hr />
    <div class="table-responsive">
      <table class="table m-b-0">
        <thead>
          <tr style="font-weight: normal">
            <th>Name</th>
            <th>Email</th>
            <th>Relation</th>
            <th>Mobile Number</th>
            <th>Home Number</th>
            <th>Work Number <small>(If Applicable)</small></th>
            <th>Home Address</th>
            <th>Description</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="contact in contacts" :key="contact.id">
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.relation.name }}</td>
            <td>{{ contact.mobileNumber }}</td>
            <td>{{ contact.homeNumber }}</td>
            <td>{{ contact.workNumber }}</td>
            <td>{{ contact.address }}</td>
            <td>{{ contact.description }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                @click="updateModal(contact)"
              >
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr v-if="contacts.length == 0">
            <td colspan="12" class="text-center">
              <b class="text-warning"> No Records Added</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal
      title="Emergency Contact Details"
      ref="emergency-contacts"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-6">
          <label for="full_name">Full Name*</label>
          <input
            type="text"
            class="form-control"
            name="full_name"
            id="full_name"
            placeholder="Full Name"
            v-model="editData.name"
          />
        </div>
        <div class="form-group col-6">
          <label for="email">Email*</label>
          <input
            type="text"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
            v-model="editData.email"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="relation">Relation*</label>
          <multiselect
            v-model="editData.relation"
            track-by="id"
            label="name"
            placeholder="Select Relation"
            :options="relations"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-4">
          <label for="mobile_number">Mobile Number*</label>
          <input
            type="text"
            class="form-control"
            name="mobile_number"
            id="mobile_number"
            placeholder="Mobile Number"
            v-model="editData.mobileNumber"
          />
        </div>
        <div class="form-group col-4">
          <label for="home_phone_number">Home Number</label>
          <input
            type="text"
            class="form-control"
            name="home_phone_number"
            id="home_phone_number"
            placeholder="Home Number"
            v-model="editData.homeNumber"
          />
        </div>
        <div class="form-group col-4">
          <label for="work_number">Work Number</label>
          <input
            type="text"
            class="form-control"
            name="work_number"
            id="work_number"
            placeholder="Work Number"
            v-model="editData.workNumber"
          />
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-12">
          <label for="address">Address*</label>
          <textarea
            name="address"
            id="address"
            class="form-control"
            v-model="editData.address"
          ></textarea>
        </div>
      </b-row>
      <b-row>
        <div class="form-group col-md-12">
          <label for="description">Description</label>
          <textarea
            class="form-control"
            v-model="editData.description"
          ></textarea>
        </div>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-success"
            @click="updateEmergencyContact"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addEmergencyContact"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="emergency-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Array,
    employeeId: String,
    relations: Array,
  },
  created() {
    this.contacts = this.tabData;
  },
  data() {
    return {
      contacts: [],
      errors: [],
      editData: {},
      add: false,
      edit: true,
      added: false,
      updated: false,
    };
  },
  methods: {
    addModal() {
      this.add = true;
      this.edit = false;
      this.editData = {};
      this.$refs["emergency-contacts"].show();
    },
    updateModal(contact) {
      this.add = false;
      this.edit = true;
      this.editData = {
        id: contact.id,
        name: contact.name,
        email: contact.email,
        relation: {
          id: contact.relation.id,
          name: contact.relation.name,
        },
        mobileNumber: contact.mobileNumber,
        homeNumber: contact.homeNumber,
        workNumber: contact.workNumber,
        address: contact.address,
        description: contact.description,
      };
      this.$refs["emergency-contacts"].show();
    },
    getData() {
      this.errors = [];
      this.added = false;
      this.updated = false;
      let data = {
        user_employee_id: this.employeeId,
        full_name: this.editData.name,
        email: this.editData.email,
        relation: this.editData.relation?this.editData.relation.id:null,
        mobile_number: this.editData.mobileNumber,
        work_number: this.editData.workNumber,
        home_phone_number: this.editData.homeNumber,
        address: this.editData.address,
        description: this.editData.description,
      };
      return data;
    },
    addEmergencyContact() {
      let data = this.getData();
      let t = this;
      axios
        .post("/employees/" + this.employeeId + "/contact-person", data)
        .then((res) => {
          this.$refs["emergency-contacts"].hide();
          this.added = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("emergency-errors");
        });
    },
    updateEmergencyContact() {
      let data = this.getData();
      let t = this;
      axios
        .put("/emergency-contacts/" + this.editData.id, data)
        .then((res) => {
          this.$refs["emergency-contacts"].hide();
          this.updated = true;
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("emergency-errors");
        });
    },
    hideModal() {
      this.$refs["emergency-contacts"].hide();
    },
    updateComponent() {
      if (this.added || this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
};
</script>
