<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Contact</b><small> (Personal Contact Details)</small>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />

    <b-row>
      <b-col clos="3">
        <h6>Company Email</h6>
        <p>{{ tabData.companyEmail != "" ? tabData.companyEmail : "N/A" }}</p>
      </b-col>
      <b-col clos="3">
        <h6>Personal Email</h6>
        <p>{{ tabData.personalEmail != "" ? tabData.personalEmail : "N/A" }}</p>
      </b-col>
      <b-col clos="3">
        <h6>Mobile Number</h6>
        <p>{{ tabData.mobileNumber != "" ? tabData.mobileNumber : "N/A" }}</p>
      </b-col>
      <b-col clos="3">
        <h6>Home Phone</h6>
        <p>{{ tabData.homeNumber != "" ? tabData.homeNumber : "N/A" }}</p>
      </b-col>
    </b-row>

    <hr />

    <b-row>
      <b-col clos="3">
        <h6>Work Mobile <small>(if applicable)</small></h6>
        <p>{{ tabData.workMobile != "" ? tabData.workMobile : "N/A" }}</p>
      </b-col>
      <b-col clos="3">
        <h6>Current Address</h6>
        <p>{{ tabData.currentAddress != "" ? tabData.currentAddress : "N/A" }}</p>
      </b-col>
      <b-col clos="3">
        <h6>Home Country Address</h6>
        <p>
          {{ tabData.homeCountryAddress != "" ? tabData.homeCountryAddress : "N/A" }}
        </p>
      </b-col>
    </b-row>

    <b-modal
      title="Employee Contact Details"
      ref="employee-contacts"
      size="lg"
      v-if="editData"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="email">Company Email*</label>
            <input
              type="text"
              class="form-control"
              placeholder="Company Email"
              v-model="editData.companyEmail"
            />
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="personal_email">Personal Email*</label>
            <input
              type="text"
              class="form-control"
              name="personal_email"
              id="personal_email"
              placeholder="Personal Email"
              v-model="editData.personalEmail"
            />
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="4">
          <div class="form-group">
            <label for="mobile_number">Mobile Number*</label>
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              v-model="editData.mobileNumber"
            />
          </div>
        </b-col>
        <b-col cols="4">
          <div class="form-group">
            <label for="work_mobile">Work Number</label>
            <input
              type="text"
              class="form-control"
              placeholder="Work Number"
              v-model="editData.workMobile"
            />
          </div>
        </b-col>
        <b-col cols="4">
          <div class="form-group">
            <label for="mobile_number">Home Number*</label>
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Number"
              v-model="editData.homeNumber"
            />
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="current_address">Current Address*</label>
            <textarea
              class="form-control"
              v-model="editData.currentAddress"
            ></textarea>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <div class="form-group">
            <label for="home_country_address">Home Country Address*</label>
            <textarea
              name="home_country_address"
              id="home_country_address"
              class="form-control"
              v-model="editData.homeCountryAddress"
            ></textarea>
          </div>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-primary" @click="updateEmployee">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="contact-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
  },
  created() {
    this.editData = {
      companyEmail: this.tabData.companyEmail,
      personalEmail: this.tabData.personalEmail,
      mobileNumber: this.tabData.mobileNumber,
      homeNumber: this.tabData.homeNumber,
      workMobile: this.tabData.workMobile,
      currentAddress: this.tabData.workMobile,
      homeCountryAddress: this.tabData.homeCountryAddress,
    };
  },
  data() {
    return {
      editData: {},
      errors:[],
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.$refs["employee-contacts"].show();
    },
    hideModal() {
      this.$refs["employee-contacts"].hide();
    },
    updateEmployee() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        email: this.editData.companyEmail,
        personal_email: this.editData.personalEmail,
        mobile_number: this.editData.mobileNumber,
        home_phone_number: this.editData.homeNumber,
        work_mobile: this.editData.workMobile,
        home_phone_number: this.editData.homeNumber,
        current_address: this.editData.currentAddress,
        home_country_address: this.editData.homeCountryAddress,
      };
      axios
        .put("/employees/" + this.employeeId + "/employee-contact", data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-contacts"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("contact-errors");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
  },
};
</script>
