<template>
  <div>
    <h6 class="test-warning">
      <b class="text-warning">Insurance</b>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <div class="row" style="margin-bottom: 20px">
      <div class="col-2 pull-left">
        <h6>Insurance Provider</h6>
        <p>
          {{
            tabData.insuranceProvider.name == ""
              ? "N/A"
              : tabData.insuranceProvider.name
          }}
        </p>
      </div>
      <div class="col-2 pull-left">
        <h6>Policy/Company Name</h6>
        <p>
          {{
            tabData.policyComapny.name == ""
              ? "N/A"
              : tabData.policyComapny.name
          }}
        </p>
      </div>
      <div class="col-2 pull-left">
        <h6>Policy Number</h6>
        <p>{{ tabData.policyNumber == "" ? "N/A" : tabData.policyNumber }}</p>
      </div>
      <div class="col-2 pull-left">
        <h6>Category</h6>
        <p>{{ tabData.category.name == "" ? "N/A" : tabData.category.name }}</p>
      </div>
      <div class="col-2 pull-left">
        <h6>Policy Contract Dates</h6>
        <p>
          {{
            tabData.policyContractStartDate == ""
              ? "N/A"
              : tabData.policyContractStartDate
          }}
          -
          {{
            tabData.policyContractEndDate == ""
              ? "N/A"
              : tabData.policyContractEndDate
          }}
        </p>
      </div>
      <div class="col-2 pull-left">
        <h6>Employee Ensured Dates</h6>
        <p>
          {{
            tabData.employeeInsuredStartDate == ""
              ? "N/A"
              : tabData.employeeInsuredStartDate
          }}
          -
          {{
            tabData.employeeInsuredEndDate == ""
              ? "N/A"
              : tabData.employeeInsuredEndDate
          }}
        </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-2 pull-left">
        <h6>Annual Premium <small>(full year rate)</small></h6>
        <p>
          {{
            tabData.annualPremiumPerYearRate == ""
              ? "N/A"
              : tabData.annualPremiumPerYearRate
          }}
        </p>
      </div>
      <div class="col-2 pull-left">
        <h6>Actual Rate</h6>
        <p>{{ tabData.actualRate == "" ? "N/A" : tabData.actualRate }}</p>
      </div>
      <div class="col-2 pull-left">
        <h6>Monthly Rate</h6>
        <p>{{ tabData.monthlyRate == "" ? "N/A" : tabData.monthlyRate }}</p>
      </div>
    </div>
    <b-modal
      title="Employee Insurance"
      ref="employee-insurance"
      size="lg"
      @hidden="updateComponent"
      v-if="editData"
    >
      <div class="row">
        <div class="form-group col-6">
          <label for="insurance_provider_id">Insurance Providers*</label>
          <multiselect
            v-model="editData.insuranceProvider"
            track-by="id"
            label="name"
            placeholder="Select Provider"
            :options="insuranceProviders"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="insurance_company_id">Policy/Company Name*</label>
          <multiselect
            v-model="editData.policyComapny"
            track-by="id"
            label="name"
            placeholder="Select Company"
            :options="policyComapnies"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="policy_number">Policy Number*</label>
          <input
            type="text"
            v-model="editData.policyNumber"
            class="form-control"
            placeholder="Policy Number"
          />
        </div>
        <div class="form-group col-6">
          <label for="insurance_category_id">Insurance Category*</label>
          <multiselect
            v-model="editData.category"
            track-by="id"
            label="name"
            placeholder="Select Category"
            :options="categories"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="country">Policy Contract From*</label>
          <b-input-group>
            <b-form-input
              id="policy-contract-from"
              v-model="editData.policyContractStartDate"
              type="text"
              autocomplete="off"
              placeholder="Policy Contract From"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.policyContractStartDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="policy-contract-from"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-6">
          <label for="country">Policy Contract To*</label>
          <b-input-group>
            <b-form-input
              id="policy-contract-to"
              v-model="editData.policyContractEndDate"
              type="text"
              autocomplete="off"
              placeholder="Policy Contract To"
              :min="editData.policyContractStartDate"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.policyContractEndDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                :min="editData.policyContractStartDate"
                aria-controls="policy-contract-to"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="country">Employee Ensured From*</label>
          <b-input-group>
            <b-form-input
              id="employee-ensured-from"
              v-model="editData.employeeInsuredStartDate"
              type="text"
              autocomplete="off"
              placeholder="Employee Ensured From"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.employeeInsuredStartDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="employee-ensured-from"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-6">
          <label for="country">Employee Ensured To*</label>
          <b-input-group>
            <b-form-input
              id="employee-ensured-to"
              v-model="editData.employeeInsuredEndDate"
              type="text"
              autocomplete="off"
              :min="editData.employeeInsuredStartDate"
              placeholder="Employee Ensured To"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.employeeInsuredEndDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="employee-ensured-to"
                :min="editData.employeeInsuredStartDate"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="annual_premium_per_year_rate">Annual Premium*</label>
          <input
            type="text"
            v-model="editData.annualPremiumPerYearRate"
            class="form-control"
            placeholder="Annual Premium"
          />
        </div>
        <div class="form-group col-6">
          <label for="actual_rate">Actual Rate*</label>
          <input
            type="text"
            v-model="editData.actualRate"
            class="form-control"
            placeholder="Actual Rate"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="monthly_rate">Monthly Rate*</label>
          <input
            type="text"
            v-model="editData.monthlyRate"
            class="form-control"
            placeholder="Monthly Rate"
          />
        </div>
      </div>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-primary"
            @click="updateInsurance"
          >
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="insurance-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
  },
  created() {
    this.resetData();
    this.getInsuranceProviders();
    this.getPolicyComapny();
    this.getCategory();
  },
  data() {
    return {
      errors: [],
      categories: [],
      policyComapnies: [],
      insuranceProviders: [],
      editData: {
        insuranceProvider: {
          id: "",
          name: "",
        },
        category: {
          id: "",
          name: "",
        },
        policyComapny: {
          id: "",
          name: "",
        },
        policyNumber: "",
        policyContractStartDate: "",
        policyContractEndDate: "",
        employeeInsuredStartDate: "",
        employeeInsuredStartDate: "",
        employeeInsuredEndDate: "",
        annualPremiumPerYearRate: "",
        actualRate: "",
        monthlyRate: "",
      },
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.resetData();
      this.$refs["employee-insurance"].show();
    },
    hideModal() {
      this.$refs["employee-insurance"].hide();
    },
    async getInsuranceProviders() {
      axios
        .get("/insurance-providers/all/data")
        .then((res) => {
          this.insuranceProviders = res.data;
        })
        .catch((err) => {});
    },
    async getPolicyComapny() {
      axios
        .get("/insurance-comapnies/all/data")
        .then((res) => {
          this.policyComapnies = res.data;
        })
        .catch((err) => {});
    },
    async getCategory() {
      axios
        .get("/insurance-categories/all/data")
        .then((res) => {
          this.categories = res.data;
        })
        .catch((err) => {});
    },
    updateInsurance() {
      this.errors = [];
      this.udpated = false;
      let t = this;
      let data = {
        insurance_provider_id:
          this.editData.insuranceProvider != null
            ? this.editData.insuranceProvider.id
            : "",
        insurance_category_id:
          this.editData.category != null ? this.editData.category.id : "",
        insurance_company_id:
          this.editData.policyComapny != null
            ? this.editData.policyComapny.id
            : "",
        policy_number: this.editData.policyNumber,
        policy_contract_start_date: this.editData.policyContractStartDate,
        policy_contract_end_date: this.editData.policyContractEndDate,
        employee_insured_start_date: this.editData.employeeInsuredStartDate,
        employee_insured_end_date: this.editData.employeeInsuredEndDate,
        annual_premium_per_year_rate: this.editData.annualPremiumPerYearRate,
        actual_rate: this.editData.actualRate,
        monthly_rate: this.editData.monthlyRate,
      };
      axios
        .put(
          "/employees/" + this.employeeId + "/employee-insurance-details",
          data
        )
        .then((res) => {
          this.updated = true;
          this.$refs["employee-insurance"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("insurance-errors");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    resetData() {
      this.editData = {
        insuranceProvider: this.tabData.insuranceProvider.id!=""?this.tabData.insuranceProvider:"",
        category: this.tabData.category.id!=""?this.tabData.category:"",
        policyComapny: this.tabData.policyComapny.id!=""?this.tabData.policyComapny:"",
        policyNumber: this.tabData.policyNumber,
        policyContractStartDate: this.tabData.policyContractStartDate,
        policyContractEndDate: this.tabData.policyContractEndDate,
        employeeInsuredStartDate: this.tabData.employeeInsuredStartDate,
        employeeInsuredStartDate: this.tabData.employeeInsuredStartDate,
        employeeInsuredEndDate: this.tabData.employeeInsuredEndDate,
        annualPremiumPerYearRate: this.tabData.annualPremiumPerYearRate,
        actualRate: this.tabData.actualRate,
        monthlyRate: this.tabData.monthlyRate,
      };
    },
  },
};
</script>
