<template>
  <div>
    <h6 class="text-warning">
      <b>Official Details </b>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <b-row class="mb-4">
      <b-col cols="2">
        <h6>Position Category</h6>
        <p>
          {{
            tabData.positionCategory.name == ""
              ? "N/A"
              : tabData.positionCategory.name
          }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Designation</h6>
        <p>
          {{
            tabData.designation.name == "" ? "N/A" : tabData.designation.name
          }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Department</h6>
        <p>
          {{ tabData.department.name == "" ? "N/A" : tabData.department.name }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Sub Department</h6>
        <p>
          {{
            tabData.subDepartment.name == ""
              ? "N/A"
              : tabData.subDepartment.name
          }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Country</h6>
        <p>{{ tabData.country.name == "" ? "N/A" : tabData.country.name }}</p>
      </b-col>
      <b-col cols="2">
        <h6>State/City</h6>
        <p>{{ tabData.state.name == "" ? "N/A" : tabData.state.name }}</p>
      </b-col>
    </b-row>

    <b-row class="mt-4 mb-4">
      <b-col cols="2">
        <h6>Date of Joining</h6>
        <p>{{ tabData.dateOfJoining == "" ? "N/A" : tabData.dateOfJoining }}</p>
      </b-col>
      <b-col cols="2">
        <h6>Probation Period</h6>
        <p>
          {{
            tabData.probationPeriod.name == ""
              ? "N/A"
              : tabData.probationPeriod.name
          }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Probation End Date</h6>
        <p>
          {{ tabData.probationEnDate == "" ? "N/A" : tabData.probationEnDate }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Cost Center</h6>
        <p>
          {{ tabData.costCenter.name == "" ? "N/A" : tabData.costCenter.name }}
        </p>
      </b-col>
      <b-col cols="2">
        <h6>Project/Client</h6>
        <p>{{ tabData.project.name == "" ? "N/A" : tabData.project.name }}</p>
      </b-col>
      <b-col cols="2">
        <h6>Is Supervisor?</h6>
        <p>
          {{ tabData.supervisor.name == "" ? "N/A" : tabData.supervisor.name }}
        </p>
      </b-col>
    </b-row>
    <b-row class="mt-4 mb-4">
      <b-col cols="2">
        <h6>Exit Date</h6>
        <p>{{ tabData.exitDate == "" ? "N/A" : tabData.exitDate }}</p>
      </b-col>
    </b-row>
    <b-modal
      title="Employee Official Details"
      ref="employee-offical"
      size="lg"
      v-if="editData"
      @hidden="updateComponent"
    >
      <b-row>
        <div class="form-group col-6">
          <label for="employee_category_id">Position Category*</label>
          <multiselect
            v-model="editData.positionCategory"
            track-by="id"
            label="name"
            placeholder="Select Country"
            :options="positionCategories"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="designation_id">Designation*</label>
          <multiselect
            v-model="editData.designation"
            placeholder="Select Designation"
            track-by="id"
            label="name"
            :options="designations"
            :allow-empty="false"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="department_id">Department*</label>
          <multiselect
            v-model="editData.department"
            track-by="id"
            label="name"
            placeholder="Select Department"
            :options="departments"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            @select="getSubDepartments"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="sub_department_id">Sub Department*</label>
          <multiselect
            v-model="editData.subDepartment"
            track-by="id"
            label="name"
            placeholder="Select Sub Department"
            :options="subDepartments"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="country_id">Country*</label>
          <multiselect
            v-model="editData.country"
            track-by="id"
            label="name"
            placeholder="Select Country"
            :options="countries"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
            @select="getCities"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="city_id">City*</label>
          <multiselect
            v-model="editData.city"
            track-by="id"
            label="name"
            placeholder="Select City/State"
            :options="cities"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="country">Date of Joining*</label>
          <b-input-group>
            <b-form-input
              id="issue-date"
              v-model="editData.dateOfJoining"
              type="text"
              placeholder="Date of Joining"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.dateOfJoining"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="issue-date"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-6">
          <label for="probation_period">Probation Period*</label>
          <multiselect
            track-by="id"
            label="name"
            v-model="editData.probationPeriod"
            placeholder="Select Period"
            :options="probationPeriods"
            :close-on-select="true"
            :multiple="false"
            :allow-empty="true"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-6">
          <label for="cost_center_id">Cost Center*</label>
          <multiselect
            v-model="editData.costCenter"
            track-by="id"
            label="name"
            placeholder="Select Cost Center"
            :options="costCenters"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
        <div class="form-group col-6">
          <label for="project_id">Project/Client*</label>
          <multiselect
            v-model="editData.project"
            track-by="id"
            label="name"
            placeholder="Select Project"
            :options="projects"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <b-row>
        <div class="form-group col-md-6">
          <label for="supervisor">Is a Supervisor?*</label>
          <multiselect
            v-model="editData.supervisor"
            track-by="id"
            label="name"
            placeholder="Select"
            :options="supervisorStatus"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>

      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-primary" @click="addDetails">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="official-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
    countries: Array,
  },
  created() {
    this.resetData();
    this.getCities(this.editData.country);
    this.getDepartments();
    this.getSubDepartments(this.editData.department);
    this.getDeisgnations();
    this.getPostionCategories();
    this.getCostCenters();
    this.getProjects();
  },
  data() {
    return {
      editData: {},
      positionCategories: [],
      designations: [],
      departments: [],
      subDepartments: [],
      errors: [],
      cities: [],
      costCenters: [],
      projects: [],
      supervisorStatus: [
        { id: 1, name: "Yes" },
        { id: 0, name: "No" },
      ],
      probationPeriods: [
        { id: 1, name: "1 Month" },
        { id: 2, name: "2 Month" },
        { id: 3, name: "3 Month" },
        { id: 4, name: "4 Month" },
        { id: 5, name: "5 Month" },
        { id: 6, name: "6 Month" },
      ],
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.resetData();
      this.$refs["employee-offical"].show();
    },
    hideModal() {
      this.$refs["employee-offical"].hide();
    },
    async getCities(country) {
      axios
        .get("/countries/" + country.id + "/cities")
        .then((res) => {
          this.cities = res.data;
        })
        .catch((err) => {});
    },
    async getDepartments() {
      axios
        .get("/departments/all/data")
        .then((res) => {
          this.departments = res.data;
        })
        .catch((err) => {});
    },
    async getSubDepartments(department) {
      axios
        .get("/departments/" + department.id + "/sub-departments")
        .then((res) => {
          this.subDepartments = res.data;
        })
        .catch((err) => {});
    },
    async getDeisgnations() {
      axios
        .get("/designations/all/data")
        .then((res) => {
          this.designations = res.data;
        })
        .catch((err) => {});
    },
    async getPostionCategories() {
      axios
        .get("/position-categories/all/data")
        .then((res) => {
          this.positionCategories = res.data;
        })
        .catch((err) => {});
    },
    async getCostCenters() {
      axios
        .get("/cost-centers/all/data")
        .then((res) => {
          this.costCenters = res.data;
        })
        .catch((err) => {});
    },
    async getProjects() {
      axios
        .get("/projects/all/data")
        .then((res) => {
          this.projects = res.data;
        })
        .catch((err) => {});
    },
    addDetails() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        position_category_id:
          this.editData.positionCategory != null
            ? this.editData.positionCategory.id
            : "",
        position_category_id:
          this.editData.positionCategory != null
            ? this.editData.positionCategory.id
            : "",
        designation_id:
          this.editData.designation != null ? this.editData.designation.id : "",
        department_id:
          this.editData.department != null ? this.editData.department.id : "",
        sub_department_id:
          this.editData.subDepartment != null
            ? this.editData.subDepartment.id
            : "",
        job_country_id:
          this.editData.country != null ? this.editData.country.id : "",
        job_city_id: this.editData.city != null ? this.editData.city.id : "",
        date_of_joining: this.editData.dateOfJoining,
        probation_period:
          this.editData.probationPeriod != null
            ? this.editData.probationPeriod.id
            : "",
        cost_center_id:
          this.editData.costCenter != null ? this.editData.costCenter.id : "",
        project_id:
          this.editData.project != null ? this.editData.project.id : "",
        supervisor:
          this.editData.supervisor != null ? this.editData.supervisor.id : "",
        date_of_exit: this.editData.dateOfExit,
      };
      axios
        .put(
          "/employees/" + this.employeeId + "/employee-official-details",
          data
        )
        .then((res) => {
          this.updated = true;
          this.$refs["employee-offical"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("official-errors");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    resetData() {
      this.editData = {
        positionCategory:
          this.tabData.positionCategory.id != ""
            ? this.tabData.positionCategory
            : "",
        designation: this.tabData.designation.id!=""?this.tabData.designation:"",
        department: this.tabData.department.id!=""?this.tabData.department:"",
        subDepartment: this.tabData.subDepartment.id!=""?this.tabData.subDepartment:"",
        country: this.tabData.country.id!=""?this.tabData.country:"",
        city: this.tabData.state.id!=""?this.tabData.state:"",
        dateOfJoining: this.tabData.dateOfJoining,
        probationEnd: this.tabData.probationEnd!=""?this.tabData.probationEnd:"",
        costCenter: this.tabData.costCenter.id!=""?this.tabData.costCenter:"",
        project: this.tabData.project.id!=""?this.tabData.project:"",
        supervisor: this.tabData.supervisor,
        probationPeriod: this.tabData.probationPeriod.id!=""?this.tabData.probationPeriod:"",
        dateOfExit: this.tabData.dateOfExit,
      };
    },
  },
};
</script>
