<template>
  <div>
    <h6 class="text-warning">
      <b>Pay Elements</b>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <div class="row" style="margin-bottom: 20px" v-if="editData.employeeAllowances.length > 0">
      <div class="col-2 mb-3">
        <h6>Salary Rule</h6>
        <p>
          {{ tabData.salaryRule.name == "" ? "N/A" : tabData.salaryRule.name }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Payment Type</h6>
        <p>
          {{
            tabData.paymentType.name == "" ? "N/A" : tabData.paymentType.name
          }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Basic Salary</h6>
        <p>
          {{
            tabData.basicSalary == ""
              ? "N/A"
              : tabData.salaryCurrency.symbol + " " + tabData.basicSalary
          }}
        </p>
      </div>
      <div
        class="col-2 mb-3"
        v-for="(allowanceAssigned, index) in assignedAllowances"
        :key="'allowance_' + index"
      >
        <h6>{{ allowanceAssigned.name }} Allowance</h6>
        <p>
          {{ allowanceAssigned.amount == 0 ? "N/A" : allowanceAssigned.amount }}
        </p>
      </div>
      <div class="col-2">
        <h6>Last Salary Revision</h6>
        <p>
          {{
            tabData.lastSalaryRevision == ""
              ? "N/A"
              : tabData.lastSalaryRevision
          }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Company Account</h6>
        <p>
          {{
            tabData.companyAccount.name == ""
              ? "N/A"
              : tabData.companyAccount.name
          }}
        </p>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px" v-else>
      <div class="col-2 mb-3">
        <h6>Salary Rule</h6>
        <p>
          {{ tabData.salaryRule.name == "" ? "N/A" : tabData.salaryRule.name }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Payment Type</h6>
        <p>
          {{
            tabData.paymentType.name == "" ? "N/A" : tabData.paymentType.name
          }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Basic Salary</h6>
        <p>
          {{
            tabData.basicSalary == ""
              ? "N/A"
              : tabData.salaryCurrency.symbol + " " + tabData.basicSalary
          }}
        </p>
      </div>
      <div
        class="col-2 mb-3"
        v-for="(allowanceAssigned, index) in allowances"
        :key="'allowance_' + index"
      >
        <h6>{{ allowanceAssigned.name }} Allowance</h6>
        <p>N/A</p>
      </div>
      <div class="col-2">
        <h6>Last Salary Revision</h6>
        <p>
          {{
            tabData.lastSalaryRevision == ""
              ? "N/A"
              : tabData.lastSalaryRevision
          }}
        </p>
      </div>
      <div class="col-2 mb-3">
        <h6>Company Account</h6>
        <p>
          {{
            tabData.companyAccount.name == ""
              ? "N/A"
              : tabData.companyAccount.name
          }}
        </p>
      </div>
    </div>

    <b-modal
      title="Employee Pay Elements"
      ref="employee-pay-elements"
      size="xl"
      @hidden="updateComponent"
      v-if="editData"
    >
      <b-row>
        <b-col cols="4">
          <div class="form-group">
            <label for="salary_rule_id">Salary Rule*</label>
            <multiselect
              v-model="editData.salaryRule"
              track-by="id"
              label="name"
              placeholder="Salary Rule"
              :options="salaryRules"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="4">
          <div class="form-group">
            <label for="salary_currency_id">Salary Currency*</label>
            <multiselect
              v-model="editData.salaryCurrency"
              track-by="id"
              label="name"
              placeholder="Salary Currency"
              :options="currencies"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="4">
          <div class="form-group">
            <label for="payment_type_id">Payment Type*</label>
            <multiselect
              v-model="editData.paymentType"
              track-by="id"
              label="name"
              placeholder="Payment Type"
              :options="paymentTypes"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <div class="form-group col-6">
          <label for="country">Last Salary Revision Date</label>
          <b-input-group>
            <b-form-input
              id="salary-revision"
              v-model="editData.lastSalaryRevision"
              type="text"
              autocomplete="off"
              placeholder="Last Revision Date"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.lastSalaryRevision"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="salary-revision"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </div>
        <div class="form-group col-6">
          <label for="company_account_id">Company Account</label>
          <multiselect
            v-model="editData.companyAccount"
            track-by="id"
            label="name"
            placeholder="Company Account"
            :options="accounts"
            :allow-empty="true"
            :close-on-select="true"
            :multiple="false"
          >
          </multiselect>
        </div>
      </b-row>
      <h6>Salary Breakdown</h6>
      <hr />
      <b-row v-if="editData.employeeAllowances.length > 0">
        <b-col cols="4">
          <div class="form-group">
            <label for="basic_salary">Basic Salary</label>
            <input
              type="text"
              class="form-control"
              v-model="editData.basicSalary"
              placeholder="Basic Salary"
            />
          </div>
        </b-col>

        <b-col
          cols="4"
          v-for="(allowance, index) in editData.employeeAllowances"
          :key="index"
        >
          <div class="form-group">
            <label :for="allowance.name + '_allounce'"
              >{{ allowance.name }} Allowance</label
            >
            <input
              :id="allowance.name + '_allounce'"
              type="text"
              class="form-control"
              v-model="editData.employeeAllowances[index].amount"
              :placeholder="allowance.name + ' Allowannce'"
            />
          </div>
        </b-col>
      </b-row>
      <b-row v-else>
        <b-col cols="4">
          <div class="form-group">
            <label for="basic_salary">Basic Salary</label>
            <input
              type="text"
              class="form-control"
              v-model="editData.basicSalary"
              placeholder="Basic Salary"
            />
          </div>
        </b-col>

        <b-col cols="4" v-for="(allowance, index) in allowances" :key="index">
          <div class="form-group">
            <label :for="allowance.name + '_allounce'"
              >{{ allowance.name }} Allowance</label
            >
            <input
              :id="allowance.name + '_allounce'"
              :disabled="true"
              type="text"
              class="form-control"
              value="0"
              :placeholder="allowance.name + ' Allowannce'"
            />
          </div>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-primary"
            @click="updatePayElement"
          >
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="payelements-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
    currencies: Array,
  },
  created() {
    this.tabData.employeeAllowances.forEach((allowance) => {
      this.assignedAllowances.push({
        id: allowance.id,
        name: allowance.name,
        amount: allowance.amount,
      });
    });
    this.resetData();
    this.getAllowances();
    this.getSalryRules();
    this.getCompanyAccounts();
    this.getPaymentType();
  },
  data() {
    return {
      accounts: [],
      salaryRules: [],
      allowances: [],
      paymentTypes: [],
      errors: [],
      editData: {
        salaryRule: "",
        salaryCurrency: "",
        paymentType: "",
        companyAccount: "",
        basicSalary: "",
        lastSalaryRevision: "",
        allowances: [],
      },
      assignedAllowances: [],
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.resetData();
      this.$refs["employee-pay-elements"].show();
    },
    hideModal() {
      this.$refs["employee-pay-elements"].hide();
    },
    async getAllowances() {
      axios
        .get("/allowances/all/default")
        .then((res) => {
          this.allowances = res.data;
        })
        .catch((err) => {});
    },
    async getCompanyAccounts() {
      axios
        .get("/accounts/all/data")
        .then((res) => {
          this.accounts = res.data;
        })
        .catch((err) => {});
    },
    async getPaymentType() {
      axios
        .get("/payment-types/all/data")
        .then((res) => {
          this.paymentTypes = res.data;
        })
        .catch((err) => {});
    },
    async getSalryRules() {
      axios
        .get("/salary-rules/all/data")
        .then((res) => {
          this.salaryRules = res.data;
        })
        .catch((err) => {});
    },
    updatePayElement() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        user_employee_id: this.employeeId,
        salary_rule_id:
          this.editData.salaryRule != null ? this.editData.salaryRule.id : "",
        salary_currency_id:
          this.editData.salaryCurrency != null
            ? this.editData.salaryCurrency.id
            : "",
        payment_type_id:
          this.editData.paymentType != null ? this.editData.paymentType.id : "",
        company_account_id:
          this.editData.companyAccount != null
            ? this.editData.companyAccount.id
            : "",
        last_salary_revision_date: this.editData.lastSalaryRevision,
        basic_salary: this.editData.basicSalary,
        employee_allowances: this.editData.employeeAllowances,
      };
      axios
        .put("/employees/" + this.employeeId + "/employee-pay-elements", data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-pay-elements"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("payelements-errors");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    resetData() {
      this.editData = {
        salaryRule:
          this.tabData.salaryRule.id != "" ? this.tabData.salaryRule : "",
        salaryCurrency:
          this.tabData.salaryCurrency.id != ""
            ? this.tabData.salaryCurrency
            : "",
        paymentType:
          this.tabData.paymentType.id != "" ? this.tabData.paymentType : "",
        companyAccount:
          this.tabData.companyAccount.id != ""
            ? this.tabData.companyAccount
            : "",
        basicSalary: this.tabData.basicSalary,
        lastSalaryRevision: this.tabData.lastSalaryRevision,
        employeeAllowances: this.tabData.employeeAllowances,
      };
    },
  },
};
</script>
