<template>
  <div>
    <h6 class="text-warning">
      <b>Employee Information </b
      ><small> (Personal Information of Employee)</small>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <b-row>
      <b-col cols="3">
        <h6>Nationality</h6>
        <p>
          {{
            tabData.nationality.name != "" ? tabData.nationality.name : "N/A"
          }}
        </p>
      </b-col>
      <b-col cols="3">
        <h6>Religion</h6>
        <p>{{ tabData.religion.name != "" ? tabData.religion.name : "N/A" }}</p>
      </b-col>
      <b-col cols="3">
        <h6>Marital Status</h6>
        <p>
          {{ tabData.maritialStatus != "" ? tabData.maritialStatus : "N/A" }}
        </p>
      </b-col>
      <b-col cols="3">
        <h6>Blood Group</h6>
        <p>{{ tabData.bloodGroup != "" ? tabData.bloodGroup : "N/A" }}</p>
      </b-col>
    </b-row>
    <hr />
    <b-row>
      <b-col cols="3">
        <h6>Birth Date</h6>
        <p>{{ tabData.birthDate != "" ? tabData.birthDate : "N/A" }}</p>
      </b-col>
      <b-col cols="3">
        <h6>Maiden Name</h6>
        <p>{{ tabData.maidenName != "" ? tabData.maidenName : "N/A" }}</p>
      </b-col>
      <b-col cols="3">
        <h6>Father/Mother Name</h6>
        <p>{{ tabData.fatherMoter != "" ? tabData.fatherMoter : "N/A" }}</p>
      </b-col>
      <b-col cols="3">
        <h6>Gender</h6>
        <p>{{ tabData.gender != "" ? tabData.gender : "N/A" }}</p>
      </b-col>
    </b-row>

    <b-modal
      title="Employee Personal Information"
      ref="employee-personal"
      size="lg"
      v-if="editData"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="nationality_id">Nationality</label>
            <multiselect
              v-model="editData.nationality"
              track-by="id"
              label="name"
              placeholder="Select Country"
              :options="countries"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="relegion_id">Religion</label>
            <multiselect
              v-model="editData.religion"
              track-by="id"
              label="name"
              placeholder="Select Religion"
              :options="religions"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="maritial_status">Marital Status</label>
            <multiselect
              v-model="editData.maritialStatus"
              :options="maritialStatuses"
              :close-on-select="true"
              :show-labels="false"
              placeholder="Select Status"
              :multiple="false"
            ></multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="blood_group">Blood Group</label>
            <multiselect
              v-model="editData.bloodGroup"
              :options="bloodGroups"
              :close-on-select="true"
              :show-labels="false"
              placeholder="Select Blood Group"
              :multiple="false"
            ></multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <label for="country">Date of Birth</label>
          <b-input-group>
            <b-form-input
              id="date-of-birth"
              v-model="editData.birthDate"
              type="text"
              placeholder="Date of Birth"
              autocomplete="off"
            ></b-form-input>
            <b-input-group-append>
              <b-form-datepicker
                v-model="editData.birthDate"
                button-only
                right
                locale="en-US"
                button-variant="primary"
                aria-controls="date-of-birth"
              ></b-form-datepicker>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="gender">Gender</label>
            <multiselect
              v-model="editData.gender"
              :options="genders"
              :close-on-select="true"
              :show-labels="false"
              placeholder="Select Gender"
              :multiple="false"
            ></multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="maiden_name">Maiden Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Maiden Name"
              v-model="editData.maidenName"
            />
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="parent_name">Father/Mother Name</label>
            <input
              type="text"
              class="form-control"
              name="parent_name"
              id="parent_name"
              placeholder="Father/Mother Name"
              v-model="editData.fatherMoter"
            />
          </div>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div id="dependant_div">
          <button
            type="button"
            class="btn btn-primary"
            @click="updateEmployePersonalInfo"
          >
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="personal-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
    countries: Array,
  },
  created() {
    this.getReligions();
    this.resetData();
  },
  data() {
    return {
      editData: {},
      errors: [],
      maritialStatuses: ["Single", "Married", "Divorced", "Separted"],
      genders: ["Male", "Female"],
      bloodGroups: ["A+", "A-", "B+", "B-", "AB+", "AB-", "O+", "O-"],
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.resetData();
      this.$refs["employee-personal"].show();
    },
    hideModal() {
      this.$refs["employee-personal"].hide();
    },
    async getReligions() {
      let t = this;
      t.religions = [];
      axios
        .get("/religions/all/data")
        .then((res) => {
          t.religions = res.data;
        })
        .catch((err) => {});
    },
    updateEmployePersonalInfo() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        nationality_id:
          this.editData.nationality != null ? this.editData.nationality.id : "",
        religion_id:
          this.editData.religion != null ? this.editData.religion.id : "",
        blood_group: this.editData.bloodGroup,
        maritial_status: this.editData.maritialStatus,
        date_of_birth: this.editData.birthDate,
        gender: this.editData.gender,
        maiden_name: this.editData.maidenName,
        parent_name: this.editData.fatherMoter,
      };
      axios
        .put("/employees/" + this.employeeId + "/personal-details", data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-personal"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("personal-errors");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    resetData() {
      this.editData = {
        nationality: this.tabData.nationality.id!=""?this.tabData.nationality:"",
        religion: this.tabData.religion.id!=""?this.tabData.religion:"",
        maritialStatus: this.tabData.maritialStatus,
        bloodGroup: this.tabData.bloodGroup,
        birthDate: this.tabData.birthDate,
        maidenName: this.tabData.maidenName,
        fatherMoter: this.tabData.fatherMoter,
        gender: this.tabData.gender,
      };
    },
  },
};
</script>
