<template>
  <div>
    <h6 class="text-warning">
      <b>Rules</b>
      <button class="btn btn-primary pull-right ml-auto" @click="showModal">
        <i class="fa fa-pencil-square-o"></i> Edit
      </button>
    </h6>
    <hr />
    <div class="row" style="margin-bottom: 20px">
      <div class="col-2">
        <h6>Contract Type</h6>
        <p>
          {{
            tabData.contractType.name == "" ? "N/A" : tabData.contractType.name
          }}
        </p>
      </div>
      <div class="col-2">
        <h6>Notice Period</h6>
        <p>{{ tabData.noticePeriod == "" ? "N/A" : tabData.noticePeriod }}</p>
      </div>
      <div class="col-2">
        <h6>Shift</h6>
        <p>{{ tabData.shift.name == "" ? "N/A" : tabData.shift.name }}</p>
      </div>
      <div class="col-2">
        <h6>Leave Rule</h6>
        <p>
          {{ tabData.leaveRule.name == "" ? "N/A" : tabData.leaveRule.name }}
        </p>
      </div>
      <div class="col-2">
        <h6>Gratuity Rule</h6>
        <p>
          {{
            tabData.gratuityRule.name == "" ? "N/A" : tabData.gratuityRule.name
          }}
        </p>
      </div>
      <div class="col-2">
        <h6>Ticket Entitlement</h6>
        <p>
          {{
            tabData.ticketEntitlement.name == ""
              ? "N/A"
              : tabData.ticketEntitlement.name
          }}
        </p>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
      <div class="col-2">
        <h6>Route</h6>
        <p>{{ tabData.routeFrom.name }} - {{ tabData.routeTo.name }}</p>
      </div>
      <div class="col-2">
        <h6>Max. Fare Rate <small>(If Applicable)</small></h6>
        <p>{{ tabData.maxFare == "" ? "N/A" : tabData.maxFare }}</p>
      </div>
      <div class="col-2">
        <h6>Gratuity</h6>
        <p>{{ tabData.gratuity == 1 ? "Active" : "In-Active" }}</p>
      </div>
      <div class="col-2">
        <h6>Air Fare</h6>
        <p>{{ tabData.airFair == 1 ? "Active" : "In-Active" }}</p>
      </div>
      <div class="col-2">
        <h6>Leave Salary</h6>
        <p>{{ tabData.leaveSalary == 1 ? "Active" : "In-Active" }}</p>
      </div>
      <div class="col-2">
        <h6>Medical Insurance</h6>
        <p>{{ tabData.medicalInsurance == 1 ? "Active" : "In-Active" }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <h6>Visa Processing Cost</h6>
        <p>{{ tabData.visaProcessingCost == 1 ? "Active" : "In-Active" }}</p>
      </div>
    </div>
    <b-modal
      title="Employee Rules"
      ref="employee-rules"
      size="lg"
      v-if="editData"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="contract_type_id">Contract Type*</label>
            <multiselect
              v-model="editData.contractType"
              track-by="id"
              label="name"
              placeholder="Select Contract Type"
              :options="contractTypes"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="notice_period">Notice Period*</label>
            <multiselect
              v-model="editData.noticePeriod"
              placeholder="Select Period"
              :options="noticePeriods"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="shift_id">Shift*</label>
            <multiselect
              v-model="editData.shift"
              track-by="id"
              label="name"
              placeholder="Select Shift"
              :options="shifts"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="leave_per_annum_id">Leave Rule*</label>
            <multiselect
              v-model="editData.leaveRule"
              track-by="id"
              label="name"
              placeholder="Select Leaves"
              :options="leavePerAnnums"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="gratuity_rule_country_id">Gratuity Rule*</label>
            <multiselect
              v-model="editData.gratuityRule"
              track-by="id"
              label="name"
              placeholder="Select Country"
              :options="gratuityRules"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="ticket_entitlement_id">Ticket Entitlement*</label>
            <multiselect
              v-model="editData.ticketEntitlement"
              track-by="id"
              label="name"
              placeholder="Select Entitlement"
              :options="ticketEntitlements"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="route_from_id">Route From*</label>
            <multiselect
              v-model="editData.routeFrom"
              track-by="id"
              label="name"
              placeholder="Select Rotue"
              :options="routes"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
        <b-col cols="6">
          <div class="form-group">
            <label for="route_to_id">Route To*</label>
            <multiselect
              v-model="editData.routeTo"
              track-by="id"
              label="name"
              placeholder="Select Rotue"
              :options="routeToCitites"
              :allow-empty="true"
              :close-on-select="true"
              :multiple="false"
            >
            </multiselect>
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <div class="form-group">
            <label for="max_fair_rates"
              >Max Fare Rates <small>(If Applicable)</small></label
            >
            <input
              type="text"
              class="form-control"
              v-model="editData.maxFare"
              placeholder="Max Fare Rates"
            />
          </div>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="2">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.gratuity"
                true-value="1"
                false-value="0"
              />
              <span>Gratuity</span>
            </label>
          </div>
        </b-col>
        <b-col cols="2">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.airFare"
                true-value="1"
                false-value="0"
              />
              <span>Air Fare</span>
            </label>
          </div>
        </b-col>
        <b-col cols="2" class="px-0">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.leaveSalary"
                true-value="1"
                false-value="0"
              />
              <span>Leave Salary</span>
            </label>
          </div>
        </b-col>
        <b-col cols="3" class="px-1">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.medicalInsurance"
                true-value="1"
                false-value="0"
              />
              <span>Medical Insurance</span>
            </label>
          </div>
        </b-col>
        <b-col cols="3" class="px-1">
          <div class="fancy-checkbox">
            <label>
              <input
                type="checkbox"
                v-model="editData.visaProcessingCost"
                true-value="1"
                false-value="0"
              />
              <span>Visa Processing Cost</span>
            </label>
          </div>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-primary" @click="updateRule">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="rule-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {
    tabData: Object,
    employeeId: String,
    countries: Array,
  },
  created() {
    this.setFormData();
    this.getContractTypes();
    this.getShifts();
    this.getLeaves();
    this.getTicketEntitlements();
    this.getRoutes();
    this.getGratuityRules();
  },
  data() {
    return {
      noticePeriods: [
        "1 Month",
        "2 Month",
        "3 Month",
        "4 Month",
        "5 Month",
        "6 Month",
      ],
      shifts: [],
      gratuityRules: [],
      leavePerAnnums: [],
      ticketEntitlements: [],
      routes: [],
      contractTypes: [],
      errors: [],
      editData: {
        contractType: "",
        noticePeriod: "",
        shift: "",
        leaveRule: "",
        gratuityRule: "",
        ticketEntitlement: "",
        routeFrom: "",
        routeTo: "",
        maxFare: "",
        gratuity: "",
        airFare: "",
        leaveSalary: "",
        medicalInsurance: "",
        visaProcessingCost: "",
      },
      updated: false,
    };
  },
  methods: {
    showModal() {
      this.setFormData();
      this.$refs["employee-rules"].show();
    },
    hideModal() {
      this.$refs["employee-rules"].hide();
    },
    updateRule() {
      this.errors = [];
      this.updated = false;
      let t = this;
      let data = {
        user_employee_id: this.employeeId,
        notice_period: this.editData.noticePeriod,
        contract_type_id: this.editData.contractType.id,
        shift_id: this.editData.shift.id,
        leave_per_annum_id: this.editData.leaveRule.id,
        gratuity_rule_country_id:
          this.editData.gratuityRule != null
            ? this.editData.gratuityRule.id
            : null,
        ticket_entitlement_id: this.editData.ticketEntitlement.id,
        route_from_id: this.editData.routeFrom.id,
        route_to_id: this.editData.routeTo.id,
        max_fair_rates: this.editData.maxFare,
        gratuity: this.editData.gratuity,
        air_fare: this.editData.airFare,
        leave_salary: this.editData.leaveSalary,
        medical_insurance: this.editData.medicalInsurance,
        visa_processing_cost: this.editData.visaProcessingCost,
      };
      axios
        .put("/employees/" + this.employeeId + "/employee-rules", data)
        .then((res) => {
          this.updated = true;
          this.$refs["employee-rules"].hide();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("rule-errors");
        });
    },
    async getGratuityRules() {
      axios
        .get("/gratuity-rules/all/data")
        .then((res) => {
          this.gratuityRules = res.data;
        })
        .catch((err) => {});
    },
    async getContractTypes() {
      axios
        .get("/contract-types/all/data")
        .then((res) => {
          this.contractTypes = res.data;
        })
        .catch((err) => {});
    },
    async getShifts() {
      axios
        .get("/shifts/all/data")
        .then((res) => {
          this.shifts = res.data;
        })
        .catch((err) => {});
    },
    async getLeaves() {
      axios
        .get("/leave-per-annums/all/data")
        .then((res) => {
          this.leavePerAnnums = res.data;
        })
        .catch((err) => {});
    },
    async getTicketEntitlements() {
      axios
        .get("/ticket-entitlements/all/data")
        .then((res) => {
          this.ticketEntitlements = res.data;
        })
        .catch((err) => {});
    },
    async getRoutes() {
      axios
        .get("/routes/all/data")
        .then((res) => {
          this.routes = res.data;
        })
        .catch((err) => {});
    },
    updateComponent() {
      if (this.updated) {
        this.$emit("refreshMainTab");
      }
    },
    setFormData() {
      this.editData = {
        contractType:
          this.tabData.contractType.id != "" ? this.tabData.contractType : "",
        noticePeriod: this.tabData.noticePeriod,
        shift: this.tabData.shift.id != "" ? this.tabData.shift : "",
        leaveRule:
          this.tabData.leaveRule.id != "" ? this.tabData.leaveRule : "",
        gratuityRule:
          this.tabData.gratuityRule != null ? this.tabData.gratuityRule : "",
        ticketEntitlement:
          this.tabData.ticketEntitlement.id != ""
            ? this.tabData.ticketEntitlement
            : "",
        routeFrom:
          this.tabData.routeFrom.id != "" ? this.tabData.routeFrom : "",
        routeTo: this.tabData.routeTo.id != "" ? this.tabData.routeTo : "",
        maxFare: this.tabData.maxFare,
        gratuity: this.tabData.gratuity,
        airFare: this.tabData.airFare,
        leaveSalary: this.tabData.leaveSalary,
        medicalInsurance: this.tabData.medicalInsurance,
        visaProcessingCost: this.tabData.visaProcessingCost,
      };
    },
  },
  computed: {
    routeToCitites() {
      if (this.editData.routeFrom) {
        return this.routes.filter(
          (route) => route.id != this.editData.routeFrom.id
        );
      } else {
        return this.routes;
      }
    },
  },
};
</script>
