<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Asset Items">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Items
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="items"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    size="sm"
                    variant="primary"
                    @click="updateModal(row.item)"
                  >
                    <font-awesome-icon :icon="['fas', 'pen-square']" />
                    Edit
                  </b-button>
                  <b-button
                    size="sm"
                    variant="success"
                    @click="stockModal(row.item)"
                  >
                    <font-awesome-icon :icon="['fas', 'plus']" />
                    Add Stock
                  </b-button>
                  <b-button
                    size="sm"
                    variant="warning"
                    @click="detailsModal(row.item)"
                  >
                    <font-awesome-icon :icon="['fas', 'search-plus']" />
                    Stock Details
                  </b-button>
                  <b-button
                    size="sm"
                    variant="warning"
                    @click="allocationsModal(row.item)"
                  >
                    <font-awesome-icon :icon="['fas', 'search-plus']" />
                    Allocation Details
                  </b-button>
                </template>
              </b-table>

              
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="title" ref="asset-items" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="itemName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group label="Category" label-for="category">
            <b-form-select
              v-model="itemConditionId"
              :options="conditions"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Type" label-for="type">
            <b-form-select
              v-model="itemTypeId"
              :options="types"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group label="Brand" label-for="brand">
            <b-form-select
              v-model="itemBrandId"
              :options="brands"
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Currency" label-for="currency">
            <b-form-select
              v-model="itemCurrencyId"
              :options="currencies"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="6">
          <b-form-group label="Purchase Price" label-for="purchase-price">
            <input
              id="purchase-price"
              type="number"
              v-model="itemPurchasePrice"
              class="form-control"
              placeholder="Purchase Price"
              required
            />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group label="Sale Price" label-for="sale-price">
            <input
              id="sale-price"
              type="number"
              v-model="itemSalePrice"
              class="form-control"
              placeholder="Sale Price"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="itemDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="6">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="itemStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateItem"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addItem"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal
      :title="'Add Stock (' + itemName + ')'"
      ref="asset-stocks"
      size="md"
    >
      <b-row>
        <b-col cols="12">
          <b-form-group label="Vendor" label-for="vendor">
            <b-form-select
              v-model="itemVendorId"
              :options="vendors"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Quantity" label-for="quantity">
            <input
              id="quantity"
              type="number"
              v-model="itemQuantity"
              class="form-control"
              placeholder="Quantity"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button type="button" class="btn btn-success" @click="addStock">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideStockModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal
      :title="'Stock Details (' + itemName + ')'"
      ref="asset-item-details"
      size="md"
    >
      <b-row v-for="(stock, index) in itemStocks" :key="index">
        <b-col cols="6">
          <b>Vendor: {{ stock.vendor.name }}</b> </b-col
        ><b-col cols="6">
          <b>Quantity: {{ stock.quantity }}</b>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <hr />
        </b-col>
        <b-col cols="6"> </b-col
        ><b-col cols="6">
          <b>Total: {{ itemTotal }}</b>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-danger"
            @click="hideDetailsModal"
          >
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal
      :title="'Allocation Details (' + itemName + ')'"
      ref="item-allocation-details"
      size="lg"
    >
      <b-row v-for="(allocation, index) in itemAllocations" :key="index">
        <b-col cols="12">
          <b
            >Employee Name:
            {{
              allocation.employee.full_name +
              " (" +
              allocation.user_employee_id +
              ")"
            }}</b
          >
          <br />
          <b>Employee Emirates Id: {{ allocation.employee.emirates_id }}</b>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <hr />
        </b-col>
        <b-col cols="6">
          <b>Total: {{ itemAssigned }}</b>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-danger"
            @click="hideAllocationsModal"
          >
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="asset-items-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getTypes();
    this.getBrands();
    this.getVendors();
    this.getConditions();
    this.getCurrencies();
    this.getAssetItems();
  },
  data() {
    return {
      errors: [],
      items: [],
      types: [],
      conditions: [],
      brands: [],
      vendors: [],
      currencies: [],
      editData: {},
      add: false,
      edit: false,
      itemId: "",
      itemName: "",
      itemConditionId: "",
      itemTypeId: "",
      itemBrandId: "",
      itemVendorId: "",
      itemCurrencyId: "",
      itemQuantity: "",
      itemPurchasePrice: "",
      itemSalePrice: "",
      itemDescription: "",
      itemStatus: true,
      itemTotal: "",
      itemAssigned: "",
      itemStocks: [],
      itemAllocations: [],
      title: "",
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "brand.name", label: "Brand" },
        { key: "category.name", label: "Category" },
        { key: "type.name", label: "Type" },
        { key: "purchase_price", label: "Purchse Price" },
        { key: "sale_price", label: ">Sale Price" },
        { key: "total_item", label: ">Quantity" },
        { key: "unassigned_item", label: ">Availability" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getBrands() {
      this.brands = [{ value: null, text: "Select Brands" }];
      axios
        .get("/asset-brands/all/data")
        .then((res) => {
          res.data.forEach((brand) => {
            this.brands.push({ value: brand.id, text: brand.name });
          });
        })
        .catch((err) => {});
    },
    getTypes() {
      this.types = [{ value: null, text: "Select Types" }];
      axios
        .get("/asset-types/all/data")
        .then((res) => {
          res.data.forEach((type) => {
            this.types.push({ value: type.id, text: type.name });
          });
        })
        .catch((err) => {});
    },
    getVendors() {
      this.vendors = [{ value: null, text: "Select Vendors" }];
      axios
        .get("/asset-vendors/all/data")
        .then((res) => {
          res.data.forEach((vendor) => {
            this.vendors.push({ value: vendor.id, text: vendor.name });
          });
        })
        .catch((err) => {});
    },
    getCurrencies() {
      this.currencies = [{ value: null, text: "Select Currency" }];
      axios
        .get("/currencies/all/data")
        .then((res) => {
          res.data.forEach((currency) => {
            this.currencies.push({ value: currency.id, text: currency.name });
          });
        })
        .catch((err) => {});
    },
    getConditions() {
      this.conditions = [{ value: null, text: "Select Conditions" }];
      axios
        .get("/asset-conditions/all/data")
        .then((res) => {
          res.data.forEach((condition) => {
            this.conditions.push({ value: condition.id, text: condition.name });
          });
        })
        .catch((err) => {});
    },
    getAssetItems() {
      this.items = [];
      axios
        .get("/asset-items/all/data")
        .then((res) => {
          this.items = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.itemId = "";
      this.itemConditionId = null;
      this.itemTypeId = null;
      this.itemBrandId = null;
      this.itemVendorId = null;
      this.itemCurrencyId = null;
      this.itemName = "";
      this.itemPurchasePrice = "";
      this.itemSalePrice = "";
      this.itemQuantity = "";
      this.itemDescription = "";
      this.itemStatus = true;
      this.title = "Add Asset Item";
      this.$refs["asset-items"].show();
    },
    detailsModal(item) {
      this.itemName = item.name;
      this.itemTotal = item.total_item;
      this.itemStocks = item.stock;
      this.$refs["asset-item-details"].show();
    },
    allocationsModal(item) {
      this.itemName = item.name;
      this.itemAssigned = item.assigned_item;
      this.itemAllocations = item.allocation;
      this.$refs["item-allocation-details"].show();
    },
    stockModal(item) {
      this.itemId = item.id;
      this.itemName = item.name;
      this.itemVendorId = null;
      this.$refs["asset-stocks"].show();
    },
    updateModal(item) {
      this.add = false;
      this.edit = true;
      this.itemId = item.id;
      this.itemConditionId = item.asset_condition_id;
      this.itemTypeId = item.asset_type_id;
      this.itemBrandId = item.asset_brand_id;
      this.itemVendorId = item.asset_vendor_id;
      this.itemCurrencyId = item.currency_id;
      this.itemName = item.name;
      this.itemPurchasePrice = item.purchase_price;
      this.itemSalePrice = item.sale_price;
      this.itemQuantity = item.quantity;
      this.itemDescription = item.description;
      this.itemStatus = item.status == 1 ? true : false;
      this.title = "Update Asset Item (" + item.name + ")";
      this.$refs["asset-items"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        asset_type_id: this.itemTypeId,
        asset_brand_id: this.itemBrandId,
        asset_condition_id: this.itemConditionId,
        asset_vendor_id: this.itemVendorId,
        currency_id: this.itemCurrencyId,
        name: this.itemName,
        purchase_price: this.itemPurchasePrice,
        sale_price: this.itemSalePrice,
        description: this.itemDescription,
        quantity: this.itemQuantity,
        status: this.itemStatus,
      };
      return data;
    },
    addStock() {
      let data = {
        asset_item_id: this.itemId,
        asset_vendor_id: this.itemVendorId,
        quantity: this.itemQuantity,
      };
      let t = this;
      axios
        .post("/asset-item-stocks", data)
        .then((res) => {
          this.$refs["asset-stocks"].hide();
          this.getAssetItems();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-items-erros");
        });
    },
    addItem() {
      let data = this.getData();
      let t = this;
      axios
        .post("/asset-items", data)
        .then((res) => {
          this.$refs["asset-items"].hide();
          this.getAssetItems();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-items-erros");
        });
    },
    updateItem() {
      let data = this.getData();
      let t = this;
      axios
        .put("/asset-items/" + this.itemId, data)
        .then((res) => {
          this.$refs["asset-items"].hide();
          this.getAssetItems();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("asset-items-erros");
        });
    },
    hideModal() {
      this.$refs["asset-items"].hide();
    },
    hideStockModal() {
      this.$refs["asset-stocks"].hide();
    },
    hideDetailsModal() {
      this.$refs["asset-item-details"].hide();
    },
    hideAllocationsModal() {
      this.$refs["item-allocation-details"].hide();
    },
  },
};
</script>
