<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Bank Details">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Bank Detail
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="banks.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(bank, index) in banks" :key="index">
                    <b-td>{{ bank.name }}</b-td>
                    <b-td>{{ bank.description }}</b-td>
                    <b-td>{{ bank.status == 1 ? "Active" : "In-Active" }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(bank)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Banks" ref="banks" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="bankName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="bankDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="bankStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateBank"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addBank"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="banks-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getBanks();
  },
  data() {
    return {
      assets: [],
      errors: [],
      banks: [],
      editData: {},
      add: false,
      edit: false,
      bankId: "",
      bankName: "",
      bankDescription: "",
      bankStatus: true,
    };
  },
  methods: {
    getBanks() {
      this.banks = [];
      axios
        .get("/banks/all/data")
        .then((res) => {
          this.banks = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.bankId = "";
      this.bankName = "";
      this.bankDescription = "";
      this.bankStatus = true;
      this.$refs["banks"].show();
    },
    updateModal(bank) {
      this.add = false;
      this.edit = true;
      this.bankId = bank.id;
      this.bankName = bank.name;
      this.bankDescription = bank.description;
      this.bankStatus = bank.status == 1 ? true : false;
      this.$refs["banks"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.bankName,
        description: this.bankDescription,
        status: this.bankStatus,
      };
      return data;
    },
    addBank() {
      let data = this.getData();
      let t = this;
      axios
        .post("/banks", data)
        .then((res) => {
          this.$refs["banks"].hide();
          this.getBanks();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("banks-erros");
        });
    },
    updateBank() {
      let data = this.getData();
      let t = this;
      axios
        .put("/banks/" + this.bankId, data)
        .then((res) => {
          this.$refs["banks"].hide();
          this.getBanks();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("banks-erros");
        });
    },
    hideModal() {
      this.$refs["banks"].hide();
    },
  },
};
</script>