<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Companies">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Company
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="companies"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>

              
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Companies" ref="companies" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Country" label-for="country">
            <b-form-select
              v-model="countryId"
              :options="countries"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="companyName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="companyDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="companyStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCompany"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCompany"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="companies-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCompanies();
    this.getCountires();
  },
  data() {
    return {
      assets: [],
      errors: [],
      companies: [],
      countries: [],
      editData: {},
      add: false,
      edit: false,
      companyId: "",
      countryId: null,
      companyName: "",
      companyDescription: "",
      companyStatus: true,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getCompanies() {
      this.companies = [];
      axios
        .get("/companies/all/data")
        .then((res) => {
          this.companies = res.data;
        })
        .catch((err) => {});
    },
    getCountires() {
      this.countries = [{ value: null, text: "Select Country" }];
      axios
        .get("/countries/all/data")
        .then((res) => {
          res.data.forEach((country) => {
            this.countries.push({
              value: country.id,
              text: country.name,
            });
          });
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.companyId = "";
      this.companyName = "";
      this.companyDescription = "";
      this.companyStatus = true;
      this.$refs["companies"].show();
    },
    updateModal(company) {
      this.add = false;
      this.edit = true;
      this.companyId = company.id;
      this.countryId = company.country_id;
      this.companyName = company.name;
      this.companyDescription = company.description;
      this.companyStatus = company.status == 1 ? true : false;
      this.$refs["companies"].show();
    },
    getData() {
      let data = {
        name: this.companyName,
        country_id: this.countryId,
        description: this.companyDescription,
        status: this.companyStatus,
      };
      return data;
    },
    addCompany() {
      this.errors = [];
      let data = this.getData();
      let t = this;
      axios
        .post("/companies", data)
        .then((res) => {
          this.$refs["companies"].hide();
          this.getCompanies();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("companies-erros");
        });
    },
    updateCompany() {
      this.errors = [];
      let data = this.getData();
      let t = this;
      axios
        .put("/companies/" + this.companyId, data)
        .then((res) => {
          this.$refs["companies"].hide();
          this.getCompanies();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("companies-erros");
        });
    },
    hideModal() {
      this.$refs["companies"].hide();
    },
  },
};
</script>
