<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Departments">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Department
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="departments.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(department, index) in departments" :key="index">
                    <b-td>{{ department.name }}</b-td>
                    <b-td>{{ department.description }}</b-td>
                    <b-td>{{
                      department.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(department)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Department" ref="departments" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="departmentName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="departmentDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="departmentStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateDepartment"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDepartment"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="departments-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getDepartments();
  },
  data() {
    return {
      add: false,
      edit: false,
      assets: [],
      errors: [],
      departments: [],
      editData: {},
      departmentId: "",
      departmentName: "",
      departmentDescription: "",
      departmentStatus: true,
    };
  },
  methods: {
    getDepartments() {
      this.departments = [];
      axios
        .get("/departments/all/data")
        .then((res) => {
          this.departments = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.departmentId = "";
      this.departmentName = "";
      this.departmentDescription = "";
      this.departmentStatus = true;
      this.$refs["departments"].show();
    },
    updateModal(department) {
      this.add = false;
      this.edit = true;
      this.departmentId = department.id;
      this.departmentName = department.name;
      this.departmentDescription = department.description;
      this.departmentStatus = department.status == 1 ? true : false;
      this.$refs["departments"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.departmentName,
        description: this.departmentDescription,
        status: this.departmentStatus,
      };
      return data;
    },
    addDepartment() {
      let data = this.getData();
      let t = this;
      axios
        .post("/departments", data)
        .then((res) => {
          this.$refs["departments"].hide();
          this.getDepartments();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("departments-erros");
        });
    },
    updateDepartment() {
      let data = this.getData();
      let t = this;
      axios
        .put("/departments/" + this.departmentId, data)
        .then((res) => {
          this.$refs["departments"].hide();
          this.getDepartments();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("departments-erros");
        });
    },
    hideModal() {
      this.$refs["departments"].hide();
    },
  },
};
</script>
