<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Insurance Benefits">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Insurance Benefit
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="benefits"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    
    <b-modal :title="title" ref="benefits" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Category" label-for="country">
            <b-form-select
              v-model="categoryId"
              :options="categories"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="benefitName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-form-group label="Code" label-for="code">
            <input
              id="code"
              type="text"
              v-model="benefitCode"
              class="form-control"
              placeholder="Code"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="benefitDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="benefitStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCity"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCity"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="cities-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
    
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getInsuranceCategories();
    this.getBenefits();
  },
  data() {
    return {
      cities: [],
      errors: [],
      benefits: [],
      categories: [],
      editData: {},
      add: false,
      edit: false,
      benefitId: null,
      categoryId: null,
      benefitName: "",
      benefitDescription: "",
      benefitCode: "",
      benefitStatus: true,
      title:"",
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getInsuranceCategories() {
      this.categories = [{value:null, text:'Select Category'}];
      axios
        .get("/insurance-categories/all/data")
        .then((res) => {
          res.data.forEach(category => {
            this.categories.push({value:category.id, text:category.name});
          });
        })
        .catch((err) => {});
    },
    getBenefits() {
      this.benefits = [];
      axios
        .get("/insurance-benefits/all/data")
        .then((res) => {
          this.benefits = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.categoryId = null;
      this.benefitName = "";
      this.benefitDescription = "";
      this.benefitCode = "";
      this.benefitStatus = true;
      this.title = "Add Insurance Benefit";
      this.$refs["benefits"].show();
    },
    updateModal(benefit) {
      this.add = false;
      this.edit = true;
      this.benefitId = benefit.id;
      this.categoryId = benefit.insurance_category_id;
      this.benefitName = benefit.name;
      this.benefitDescription = benefit.description;
      this.benefitCode = benefit.code;
      this.benefitStatus = benefit.status == 1 ? true : false;
      this.title = "Update Insurance Benefit ("+benefit.name+")";
      this.$refs["benefits"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        insurance_category_id: this.categoryId,
        name: this.benefitName,
        code: this.benefitCode,
        description: this.benefitDescription,
        status: this.benefitStatus,
      };
      return data;
    },
    addCity() {
      let data = this.getData();
      let t = this;
      axios
        .post("/insurance-benefits", data)
        .then((res) => {
          this.$refs["benefits"].hide();
          this.getBenefits();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("cities-erros");
        });
    },
    updateCity() {
      let data = this.getData();
      let t = this;
      axios
        .put("/insurance-benefits/" + this.benefitId, data)
        .then((res) => {
          this.$refs["benefits"].hide();
          this.getBenefits();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("cities-erros");
        });
    },
    hideModal() {
      this.$refs["benefits"].hide();
    },
  },
  watch:{
    enableAmount: function(){
      if (this.enableAmount){
        this.enablePercentage = false;
        this.benefitPercentage = "";
      }else{
        this.enablePercentage = true;
      }
    },
    enablePercentage: function(){
      if (this.enablePercentage){
        this.enableAmount = false;
        this.benefitAmount = "";

      }else{
        this.enableAmount = true;
      }
    }
  }
};
</script>
