<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Pay Groups">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Pay Group
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table
                :items="banks"
                :fields="fields"
                stacked="lg"
                show-empty
                large
                hover
                head-variant="dark"
                :striped="true"
                class="text-dark"
                :sortable="false"
                caption-top
                :no-border-collapse="false"
                :sort-by.sync="sortBy"
              >
                <template #cell(status)="row">
                  {{ row.value.status == 1 ? "Active" : "In-Active" }}
                </template>
                <template #cell(action)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Delete"
                    variant="primary"
                    data-type="confirm"
                    :data-value="row.value"
                    data-model="employees"
                    :value="row.value"
                    @click="updateModal(row.item)"
                    ><font-awesome-icon :icon="['fas', 'pen-square']" />
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Add Pay Group" ref="banks" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Comapny" label-for="companies">
            <b-form-select
              v-model="companyId"
              :options="companies"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="bankName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="bankDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="bankStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateBank"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addBank"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="banks-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getPayGroups();
    this.getCompanies();
  },
  data() {
    return {
      assets: [],
      errors: [],
      banks: [],
      companies: [],
      editData: {},
      add: false,
      edit: false,
      bankId: "",
      bankName: "",
      bankDescription: "",
      bankStatus: true,
      companyId: null,
      //for updating tables
      sortBy: "name",
      fields: [
        ,
        { key: "name", label: "Name", sortable: true, sortDirection: "asc" },
        { key: "description", label: "Description" },
        { key: "status", label: "Status" },
        { key: "action", label: "Action" },
      ],
      sortDesc: false,
      sortDirection: "asc",
    };
  },
  methods: {
    getPayGroups() {
      this.banks = [];
      axios
        .get("/paygroups/all/data")
        .then((res) => {
          this.banks = res.data;
        })
        .catch((err) => {});
    },
    getCompanies() {
      this.companies = [{ value: null, text: "Select Company" }];
      axios
        .get("/companies/all/data")
        .then((res) => {
          res.data.forEach((company) => {
            this.companies.push({
              value: company.id,
              text: company.name,
            });
          });
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.bankId = "";
      this.bankName = "";
      this.bankDescription = "";
      this.bankStatus = true;
      this.$refs["banks"].show();
    },
    updateModal(bank) {
      this.add = false;
      this.edit = true;
      this.companyId = bank.company_id;
      this.bankId = bank.id;
      this.bankName = bank.name;
      this.bankDescription = bank.description;
      this.bankStatus = bank.status == 1 ? true : false;
      this.$refs["banks"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.bankName,
        company_id: this.companyId,
        description: this.bankDescription,
        status: this.bankStatus,
      };
      return data;
    },
    addBank() {
      let data = this.getData();
      let t = this;
      axios
        .post("/paygroups", data)
        .then((res) => {
          this.$refs["banks"].hide();
          this.getPayGroups();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("banks-erros");
        });
    },
    updateBank() {
      let data = this.getData();
      let t = this;
      axios
        .put("/paygroups/" + this.bankId, data)
        .then((res) => {
          this.$refs["banks"].hide();
          this.getPayGroups();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("banks-erros");
        });
    },
    hideModal() {
      this.$refs["banks"].hide();
    },
  },
};
</script>