<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Permissions">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Permission
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Module</b-th>
                    <b-th>Description</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark" v-if="permissions.length > 0">
                  <b-tr v-for="(permission, index) in permissions" :key="index">
                    <b-td>{{ permission.name }}</b-td>
                    <b-td>{{ permission.module }}</b-td>
                    <b-td>{{ permission.description }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(permission)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
                <b-tbody class="text-dark" v-if="permissions.length == 0">
                  <b-tr class="text-center">
                    <b-td colspan="3">No records added!</b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-if="showLoader">
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="title" ref="permissions" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="permissionName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Module" label-for="name">
            <input
              id="name"
              type="text"
              v-model="permissionModule"
              class="form-control"
              placeholder="Module"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="permissionDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updatePermission"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addPermission"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="permissions-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getPermissions();
  },
  data() {
    return {
      errors: [],
      permissions: [],
      editData: {},
      add: false,
      edit: false,
      title: "",
      permissionId: "",
      permissionName: "",
      permissionModule: "",
      permissionDescription: "",
      permissionStatus: true,
      showLoader: false,
    };
  },
  methods: {
    getPermissions() {
      this.permissions = [];
      this.showLoader = true;
      axios
        .get("/permissions/all/data")
        .then((res) => {
          this.permissions = res.data;
          this.showLoader = false;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.permissionId = "";
      this.permissionName = "";
      this.permissionModule = "";
      this.permissionDescription = "";
      this.permissionStatus = true;
      this.title = "Add Permission";
      this.$refs["permissions"].show();
    },
    updateModal(permission) {
      this.add = false;
      this.edit = true;
      this.permissionId = permission.id;
      this.permissionName = permission.name;
      this.permissionModule = permission.module;
      this.permissionDescription = permission.description;
      this.permissionStatus = permission.status == 1 ? true : false;
      this.title = "Edit Permission ("+permission.name+')';
      this.$refs["permissions"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.permissionName,
        module: this.permissionModule,
        description: this.permissionDescription,
      };
      return data;
    },
    addPermission() {
      let data = this.getData();
      let t = this;
      axios
        .post("/permissions", data)
        .then((res) => {
          this.$refs["permissions"].hide();
          this.getPermissions();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("permissions-erros");
        });
    },
    updatePermission() {
      let data = this.getData();
      let t = this;
      axios
        .put("/permissions/" + this.permissionId, data)
        .then((res) => {
          this.$refs["permissions"].hide();
          this.getPermissions();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("permissions-erros");
        });
    },
    hideModal() {
      this.$refs["permissions"].hide();
    },
  },
};
</script>
