<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Position Categories">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Position Categories
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="categories.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(category, index) in categories" :key="index">
                    <b-td>{{ category.name }}</b-td>
                    <b-td>{{ category.description }}</b-td>
                    <b-td>{{
                      category.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(category)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="position-category" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="categoryName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="categoryDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="categoryStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateCategory"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addCategory"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="position-category-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>

  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getCategories();
  },
  data() {
    return {
      categories: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      categoryId: "",
      categoryName: "",
      categoryDescription: "",
      categoryStatus: true,
      modalTitle:""
    };
  },
  methods: {
    getCategories() {
      this.categories = [];
      axios
        .get("/position-categories/all/data")
        .then((res) => {
          this.categories = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.categoryId = "";
      this.categoryName = "";
      this.categoryDescription = "";
      this.categoryStatus = true;
      this.modalTitle = "Add Position Category";
      this.$refs["position-category"].show();
    },
    updateModal(category) {
      this.add = false;
      this.edit = true;
      this.categoryId = category.id;
      this.categoryName = category.name;
      this.categoryDescription = category.description;
      this.categoryStatus = category.status == 1 ? true : false;
      this.modalTitle = "Update Position Category";
      this.$refs["position-category"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.categoryName,
        description: this.categoryDescription,
        status: this.categoryStatus,
      };
      return data;
    },
    addCategory() {
      let data = this.getData();
      let t = this;
      axios
        .post("/position-categories", data)
        .then((res) => {
          this.$refs["position-category"].hide();
          this.getCategories();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("position-category-erros");
        });
    },
    updateCategory() {
      let data = this.getData();
      let t = this;
      axios
        .put("/position-categories/" + this.categoryId, data)
        .then((res) => {
          this.$refs["position-category"].hide();
          this.getCategories();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("position-category-erros");
        });
    },
    hideModal() {
      this.$refs["position-category"].hide();
    },
  },
};
</script>