<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Religions">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Religion
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="religions.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(religion, index) in religions" :key="index">
                    <b-td>{{ religion.name }}</b-td>
                    <b-td>{{ religion.description }}</b-td>
                    <b-td>{{
                      religion.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(religion)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-modal title="Religions" ref="religions" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="religionName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="religionDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="religionStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateReligion"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addReligion"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="religions-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getReligions();
  },
  data() {
    return {
      assets: [],
      errors: [],
      religions: [],
      editData: {},
      add: false,
      edit: false,
      religionId: "",
      religionName: "",
      religionDescription: "",
      religionStatus: true,
    };
  },
  methods: {
    getReligions() {
      this.roreligionsutes = [];
      axios
        .get("/religions/all/data")
        .then((res) => {
          this.religions = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.religionId = "";
      this.religionName = "";
      this.religionDescription = "";
      this.religionStatus = true;
      this.$refs["religions"].show();
    },
    updateModal(religion) {
      this.add = false;
      this.edit = true;
      this.religionId = religion.id;
      this.religionName = religion.name;
      this.religionDescription = religion.description;
      this.religionStatus = religion.status == 1 ? true : false;
      this.$refs["religions"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        name: this.religionName,
        description: this.religionDescription,
        status: this.religionStatus,
      };
      return data;
    },
    addReligion() {
      let data = this.getData();
      let t = this;
      axios
        .post("/religions", data)
        .then((res) => {
          this.$refs["religions"].hide();
          this.getReligions();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("religions-erros");
        });
    },
    updateReligion() {
      let data = this.getData();
      let t = this;
      axios
        .put("/religions/" + this.religionId, data)
        .then((res) => {
          this.$refs["religions"].hide();
          this.getReligions();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("religions-erros");
        });
    },
    hideModal() {
      this.$refs["religions"].hide();
    },
  },
};
</script>