<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Sponsors">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Sponsor
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="sponsors.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Company</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr v-for="(sponsor, index) in sponsors" :key="index">
                    <b-td>{{ sponsor.name }}</b-td>
                    <b-td>{{ sponsor.company.name }}</b-td>
                    <b-td>{{ sponsor.description }}</b-td>
                    <b-td>{{
                      sponsor.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(sponsor)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="sponsors" ref="sponsors" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Company" label-for="company">
            <b-form-select
              v-model="companyId"
              :options="companies"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="sponsorName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="sponsorDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="sponsorStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateSponsor"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addSponsor"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="sponsors-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
    
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getSponsors();
    this.getCompanies();
  },
  data() {
    return {
      assets: [],
      errors: [],
      sponsors: [],
      companies: [],
      editData: {},
      add: false,
      edit: false,
      sponsorId: "",
      companyId: null,
      sponsorName: "",
      sponsorDescription: "",
      sponsorStatus: true,
    };
  },
  methods: {
    getSponsors() {
      this.sponsors = [];
      axios
        .get("/sponsors/all/data")
        .then((res) => {
          this.sponsors = res.data;
        })
        .catch((err) => {});
    },
    getCompanies() {
      this.companies = [{ value: null, text: "Select Company" }];
      axios
        .get("/companies/all/data")
        .then((res) => {
          res.data.forEach((company) => {
            this.companies.push({
              value: company.id,
              text: company.name,
            });
          });
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.sponsorId = "";
      this.sponsorName = "";
      this.sponsorDescription = "";
      this.sponsorStatus = true;
      this.$refs["sponsors"].show();
    },
    updateModal(sponsor) {
      this.add = false;
      this.edit = true;
      this.sponsorId = sponsor.id;
      this.sponsorName = sponsor.name;
      this.sponsorDescription = sponsor.description;
      this.sponsorStatus = sponsor.status == 1 ? true : false;
      this.$refs["sponsors"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        company_id: this.companyId,
        name: this.sponsorName,
        description: this.sponsorDescription,
        status: this.sponsorStatus,
      };
      return data;
    },
    addSponsor() {
      let data = this.getData();
      let t = this;
      axios
        .post("/sponsors", data)
        .then((res) => {
          this.$refs["sponsors"].hide();
          this.getSponsors();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("sponsors-erros");
        });
    },
    updateSponsor() {
      let data = this.getData();
      let t = this;
      axios
        .put("/sponsors/" + this.sponsorId, data)
        .then((res) => {
          this.$refs["sponsors"].hide();
          this.getSponsors();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("sponsors-erros");
        });
    },
    hideModal() {
      this.$refs["sponsors"].hide();
    },
  },
};
</script>
