<template>
  <div>
    <b-row>
      <b-col cols="12">
        <b-card title="Sub Departments">
          <b-row>
            <b-col cols="12">
              <button
                class="btn btn-primary pull-right ml-auto"
                @click="addModal"
              >
                <i class="fa fa-plus"></i> Add Sub Departments
              </button>
            </b-col>
            <b-col cols="12" class="mt-3">
              <b-table-simple
                striped
                large
                caption-top
                :no-border-collapse="false"
                v-if="subDepartments.length > 0"
              >
                <b-thead class="thead-dark text-light">
                  <b-tr>
                    <b-th>Name</b-th>
                    <b-th>Department</b-th>
                    <b-th>Description</b-th>
                    <b-th>Status</b-th>
                    <b-th>Actions</b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="(department, index) in subDepartments"
                    :key="index"
                  >
                    <b-td>{{ department.name }}</b-td>
                    <b-td>{{ department.department.name }}</b-td>
                    <b-td>{{ department.description }}</b-td>
                    <b-td>{{
                      department.status == 1 ? "Active" : "In-Active"
                    }}</b-td>
                    <b-td>
                      <b-button
                        size="sm"
                        variant="primary"
                        @click="updateModal(department)"
                      >
                        <font-awesome-icon :icon="['fas', 'pen-square']" />
                        Edit
                      </b-button>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
              <div v-else>
                <b-row>
                  <b-col cols="12 text-center">
                    <i class="fa fa-spin fa-spinner fa-5x"></i>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal :title="modalTitle" ref="departments" size="md">
      <b-row>
        <b-col cols="12">
          <b-form-group label="Department" label-for="department">
            <b-form-select
              v-model="departmentId"
              :options="departments"
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Name" label-for="name">
            <input
              id="name"
              type="text"
              v-model="subDepartmentName"
              class="form-control"
              placeholder="Name"
              required
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Description" label-for="description">
            <b-textarea id="description" v-model="subDepartmentDescription">
            </b-textarea>
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col cols="12">
          <b-form-group label="Status" label-for="status">
            <b-form-checkbox
              id="status"
              v-model="subDepartmentStatus"
              :value="true"
              :unchecked-value="false"
              >Enable?
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>

      <template #modal-footer>
        <div>
          <button
            type="button"
            class="btn btn-success"
            @click="updateDepartment"
            v-if="edit"
          >
            UPDATE CHANGES
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="addDepartment"
            v-if="add"
          >
            SAVE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="departments-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {},
  created() {
    this.getDepartments();
    this.getSubDepartments();
  },
  data() {
    return {
      departments: [],
      subDepartments: [],
      errors: [],
      editData: {},
      add: false,
      edit: false,
      departmentId: "",
      subDepartmentId: "",
      subDepartmentName: "",
      subDepartmentDescription: "",
      subDepartmentStatus: true,
      modalTitle: "",
    };
  },
  methods: {
    getDepartments() {
      this.departments = [{ vale: null, text: "Select Department" }];
      axios
        .get("/departments/all/data")
        .then((res) => {
          res.data.forEach((department) => {
            this.departments.push({
              value: department.id,
              text: department.name,
            });
          });
        })
        .catch((err) => {});
    },
    getSubDepartments() {
      this.subDepartments = [];
      axios
        .get("/sub-departments/all/data")
        .then((res) => {
          this.subDepartments = res.data;
        })
        .catch((err) => {});
    },
    addModal() {
      this.add = true;
      this.edit = false;
      this.departmentId = null;
      this.subDepartmentId = "";
      this.subDepartmentName = "";
      this.subDepartmentDescription = "";
      this.subDepartmentStatus = true;
      this.modalTitle = "Add Sub Department";
      this.$refs["departments"].show();
    },
    updateModal(department) {
      this.add = false;
      this.edit = true;
      this.departmentId = department.department.id;
      this.subDepartmentId = department.id;
      this.subDepartmentName = department.name;
      this.subDepartmentDescription = department.description;
      this.subDepartmentStatus = department.status == 1 ? true : false;
      this.modalTitle = "Update Relation";
      this.$refs["departments"].show();
    },
    getData() {
      this.errors = [];
      let data = {
        department_id: this.departmentId,
        name: this.subDepartmentName,
        description: this.subDepartmentDescription,
        status: this.subDepartmentStatus,
      };
      return data;
    },
    addDepartment() {
      let data = this.getData();
      let t = this;
      axios
        .post("/sub-departments", data)
        .then((res) => {
          this.$refs["departments"].hide();
          this.getSubDepartments();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("departments-erros");
        });
    },
    updateDepartment() {
      let data = this.getData();
      let t = this;
      axios
        .put("/sub-departments/" + this.subDepartmentId, data)
        .then((res) => {
          this.$refs["departments"].hide();
          this.getSubDepartments();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("departments-erros");
        });
    },
    hideModal() {
      this.$refs["departments"].hide();
    },
  },
};
</script>
