<template>
  <div>
    <b-card class="w_profile">
      <b-row>
        <b-col @click="showModal" md="3">
          <div class="profile-image">
            <a
              ><img
                :src="imageUrlDisplay"
                alt=""
                rounded="circle"
                v-bind="{ width: 200, height: 200 }"
            /></a>
          </div>
        </b-col>
        <b-col cols="10" md="9">
          <div v-if="Object.keys(employee).length">
            <div class="row">
              <div class="col-6" style="margin-bottom: 35px">
                <h4 class="m-t-0 m-b-0">
                  <strong>{{ employee.fullName }}</strong>
                </h4>
                <span class="job_post"
                  ><strong>Emp ID:</strong> {{ employee.employeeId }}
                </span>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-primary ml-auto pull-right"
                  v-if="!edit"
                  @click="toggleForm"
                >
                  <i class="fa fa-pencil-square-o"></i> Edit
                </button>
                <button
                  type="button"
                  class="btn btn-success ml-auto pull-right"
                  v-else
                  @click="updateInfo"
                >
                  <i class="fa fa-arrow-up"></i> Update
                </button>
              </div>
            </div>

            <div class="profileDetails" v-if="!edit">

              <b-row>
                <b-col cols="3">
                  <div class="text-black-50">Personal ID</div>
                  <h6>
                    {{
                      employee.personalId != "" ? employee.personalId : "N/A"
                    }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Emirates ID</div>
                  <h6>
                    {{
                      employee.emiratesId != "" ? employee.emiratesId : "N/A"
                    }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Employee Type</div>
                  <h6>
                    {{ employee.type.name != "" ? employee.type.name : "N/A" }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Visa Status</div>
                  <h6>
                    {{
                      employee.visaStatus.name != ""
                        ? employee.visaStatus.name
                        : "N/A"
                    }}
                  </h6>
                </b-col>
              </b-row>

              <b-row class="mt-4">
                <b-col cols="3">
                  <div class="text-black-50">Category</div>
                  <h6>
                    {{
                      employee.category.name != ""
                        ? employee.category.name
                        : "N/A"
                    }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Employee Status</div>
                  <h6>
                    {{
                      employee.status.name != "" ? employee.status.name : "N/A"
                    }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Labor Card No</div>
                  <h6>
                    {{
                      employee.laborCardNumber && employee.laborCardNumber != ""
                        ? employee.laborCardNumber
                        : "N/A"
                    }}
                  </h6>
                </b-col>

                <b-col cols="3">
                  <div class="text-black-50">Person Code</div>
                  <h6>
                    {{
                      employee.personCode && employee.personCode != "" ? employee.personCode : "N/A"
                    }}
                  </h6>
                </b-col>
              </b-row>

            </div>
            <div class="row editFormArea" v-else>
              <form id="updateProfile" class="col-12">
                <div class="row">
                  <div class="col-2 form-group">
                    <label for="first_name" class="text-black-50"
                      >First Name</label
                    >
                    <b-form-input
                      id="first_name"
                      type="text"
                      v-model="employee.firstName"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="middle_name" class="text-black-50"
                      >Middle Name</label
                    >
                    <b-form-input
                      id="middle_name"
                      type="text"
                      v-model="employee.middleName"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="last_name" class="text-black-50"
                      >Last Name</label
                    >
                    <b-form-input
                      id="last_name"
                      type="text"
                      v-model="employee.lastName"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="personal_id" class="text-black-50"
                      >Personal ID</label
                    >
                    <b-form-input
                      id="personal_id"
                      type="text"
                      v-model="employee.personalId"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="emirates_id" class="text-black-50"
                      >Emirates ID</label
                    >
                    <b-form-input
                      id="emirates_id"
                      type="text"
                      v-model="employee.emiratesId"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="employee_type" class="text-black-50"
                      >Employee Type</label
                    >
                    <multiselect
                      v-model="employee.type"
                      track-by="id"
                      label="name"
                      placeholder="Select Type"
                      :options="types"
                      :allow-empty="true"
                      :close-on-select="true"
                      :multiple="false"
                    >
                    </multiselect>
                  </div>
                  <div class="col-2 form-group">
                    <label for="visa_status" class="text-black-50"
                      >Visa Status</label
                    >
                    <multiselect
                      v-model="employee.visaStatus"
                      track-by="id"
                      label="name"
                      placeholder="Select Status"
                      :options="visaStatuses"
                      :allow-empty="true"
                      :close-on-select="true"
                      :multiple="false"
                    >
                    </multiselect>
                  </div>
                  <div class="col-2 form-group">
                    <label for="employee_category_id" class="text-black-50"
                      >Category</label
                    >
                    <multiselect
                      v-model="employee.category"
                      track-by="id"
                      label="name"
                      placeholder="Select Status"
                      :options="categories"
                      :allow-empty="true"
                      :close-on-select="true"
                      :multiple="false"
                    >
                    </multiselect>
                  </div>
                  <div class="col-2 form-group">
                    <label for="employee_status_id" class="text-black-50"
                      >Employee Status</label
                    >
                    <multiselect
                      v-model="employee.status"
                      track-by="id"
                      label="name"
                      placeholder="Select Status"
                      :options="statuses"
                      :allow-empty="true"
                      :close-on-select="true"
                      :multiple="false"
                    >
                    </multiselect>
                  </div>
                  <div class="col-2 form-group">
                    <label for="employee_status_id" class="text-black-50"
                      >Labor Card No</label
                    >
                    <b-form-input
                      id="personal_id"
                      type="text"
                      v-model="employee.laborCardNumber"
                    ></b-form-input>
                  </div>
                  <div class="col-2 form-group">
                    <label for="employee_status_id" class="text-black-50"
                      >Person Code</label
                    >
                    <b-form-input
                      id="personal_id"
                      type="text"
                      v-model="employee.personCode"
                    ></b-form-input>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="text-center" v-else>
            <i class="fa fa-spin fa-spinner fa-5x"></i>
          </div>
        </b-col>
      </b-row>
    </b-card>

    <b-modal
      title="Image to Upload"
      ref="profile-image"
      v-if="employee"
      @hidden="updateComponent"
    >
      <b-row>
        <b-col cols="12">
          <div class="profile-image text-center">
            <b-img
              :src="imageUrl"
              thumbnail
              rounded="circle"
              fluid
              class="mx-auto"
            ></b-img>
          </div>
        </b-col>
      </b-row>
      <b-row class="mt-4">
        <b-col cols="12">
          <b-form-group>
            <label for="profile_image">Image to Upload</label>
            <input
              type="file"
              ref="profileImage"
              v-bind="{ width: 200, height: 200 }"
              @change="handleFileUpload()"
            />
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-success" @click="updateImage">
            UPDATE IMAGE
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>
    <b-toast id="employee-profile-erros" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect,
  },
  mounted() {},
  props: {
    employeeId: {
      type: String,
      default: "",
      required: true,
    },
  },
  data() {
    return {
      employee: {},
      types: [],
      errors: [],
      statuses: [],
      categories: [],
      visaStatuses: [],
      edit: false,
      added: false,
      updated: false,
      imageUrl: "",
      imageUrlDisplay: "",
      file: "",
    };
  },
  created() {
    this.employeeInfo();
    this.getTypes();
    this.getCategories();
    this.getStatuses();
    this.getVisaStatuses();
  },
  methods: {
    showModal() {
      this.imageUrl =
        this.imageUrl != "" ? this.imageUrl : this.employee.profilePic;
      this.$refs["profile-image"].show();
    },
    hideModal() {
      this.$refs["profile-image"].hide();
    },
    handleFileUpload() {
      this.file = this.$refs.profileImage.files[0];
      this.imageUrl = URL.createObjectURL(this.file);
    },
    async employeeInfo() {
      axios
        .get("/employees/" + this.employeeId + "/profile-info")
        .then((res) => {
          let data = res.data.data;
          this.employee = {
            fullName: data.fullName,
            firstName: data.firstName,
            middleName: data.middleName,
            lastName: data.lastName,
            employeeId: data.employeeId,
            personalId: data.personalId,
            emiratesId: data.emiratesId,
            profilePic: data.profilePic,
            laborCardNumber: data.laborCardNumber,
            personCode: data.personCode,
            type: {
              id: data.type.id,
              name: data.type.name,
            },
            category: {
              id: data.category.id,
              name: data.category.name,
            },
            visaStatus: {
              id: data.visaStatus.id,
              name: data.visaStatus.name,
            },
            status: {
              id: data.status.id,
              name: data.status.name,
            },
          };
          this.imageUrlDisplay =
            this.imageUrl != "" ? this.imageUrl : this.employee.profilePic;
        })
        .catch((err) => {});
    },
    async getTypes() {
      axios
        .get("/employee-types/all/data")
        .then((res) => {
          this.types = res.data;
        })
        .catch((err) => {});
    },
    async getCategories() {
      axios
        .get("/employee-categories/all/data")
        .then((res) => {
          this.categories = res.data;
        })
        .catch((err) => {});
    },
    async getStatuses() {
      axios
        .get("/employee-statues/all/data")
        .then((res) => {
          this.statuses = res.data;
        })
        .catch((err) => {});
    },
    async getVisaStatuses() {
      axios
        .get("/visa-statues/all/data")
        .then((res) => {
          this.visaStatuses = res.data;
        })
        .catch((err) => {});
    },
    updateInfo() {
      this.updated = false;
      let t = this;
      let data = {
        first_name: this.employee.firstName,
        middle_name: this.employee.middleName,
        last_name: this.employee.lastName,
        personal_id: this.employee.personalId,
        emirates_id: this.employee.emiratesId,
        employee_type_id: this.employee.type.id,
        visa_status_id: this.employee.visaStatus.id,
        employee_category_id: this.employee.category.id,
        employee_status_id: this.employee.status.id,
        labor_card_number: this.employee.laborCardNumber,
        person_code: this.employee.personCode,
        // employee_status_id: this.employee.status.id,
      };
      this.employee = {};
      axios
        .put("/employees/" + this.employeeId, data)
        .then((res) => {
          this.edit = false;
          this.updated = true;
          this.employeeInfo();
        })
        .catch((err) => {
          $.each(err.response.data, function (indexMain, errors) {
            $.each(errors, function (index, error) {
              t.errors.push({ error: error });
            });
          });
          this.$bvToast.show("employee-profile-erros");
        });
    },
    updateComponent() {
      if (this.updated) {
        this.employee = {};
        this.employeeInfo();
      }
    },
    updateImage() {
      this.updated = false;
      let t = this;
      let formData = new FormData();
      formData.append("profile_image", this.file);
      axios
        .post(
          "/employees/" + this.employeeId + "/employee-profile-image",
          formData,
          {
            "Content-Type": "multipart/form-data",
          }
        )
        .then((res) => {
          this.imageUrlDisplay = this.imageUrl;
          this.updated = true;
          this.$refs["profile-image"].hide();
        })
        .catch((err) => {
          t.errors.push({ error: err.response.data });
          this.$bvToast.show("education-errors");
        });
    },
    toggleForm() {
      return (this.edit = true);
    },
  },
};
</script>
