<template>
  <div>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Select Parameters">
          <b-form :validated="true" @submit="getEmployees">
            <b-row>
              <b-col cols="3">
                <b-form-group>
                  <b-form-select
                    id="selectedCompany"
                    v-model="company"
                    :options="companies"
                    :required="true"
                    placeholder="Select Company"
                  ></b-form-select>
                </b-form-group>
              </b-col>

              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="startDate"
                    v-model="startDate"
                    type="text"
                    placeholder="Start Date"
                    autocomplete="on"
                    :required="true"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="startDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="startDate"
                      button-variant="primary"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>

              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="endDate"
                    v-model="endDate"
                    type="text"
                    placeholder="End Date"
                    autocomplete="on"
                    :required="true"
                    :min="startDate"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="endDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="endDate"
                      button-variant="primary"
                      :min="startDate"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>

              <b-col cols="2">
                <b-button type="submit" variant="primary">
                  Load Employees
                </b-button>
              </b-col>
            </b-row>
          </b-form>

          <hr class="mt-3 mb-3" />

          <b-row class="mb-2">
            <b-col>
              <h5>Filter Employees</h5>
            </b-col>
          </b-row>

          <b-row>
            <b-col cols="3">
              <b-form-group>
                <label>Filter By Department</label>
                <b-form-select
                  id="selectedDepartment"
                  v-model="department"
                  :options="departments"
                  :disabled="employees.length == 0"
                  @change="getSubDepartments(department)"
                  placeholder="Select Department"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group>
                <label>Filter By Sub Department</label>
                <multiselect
                  v-model="subDepartment"
                  placeholder="Select Sub Departments"
                  label="text"
                  track-by="value"
                  :options="subDepartments"
                  :multiple="true"
                  :taggable="true"
                  :disabled="employees.length == 0"
                ></multiselect>
              </b-form-group>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="subDepartmentEmployees">
      <b-col size="12" class="mt-3">
        <b-card title="Employees Attendance History">
          <b-row id="employeeAttendanceTable">
            <b-col cols="12" class="text-right mb-4">
              <b-button variant="success" @click="downloadAttendanceSheet()">
                <font-awesome-icon :icon="['fas', 'file-excel']" />
                Download Attendance
              </b-button>
            </b-col>
            <b-col cols="12">
              <b-table-simple
                hover
                large
                caption-top
                bordered
                :sticky-header="true"
                :no-border-collapse="false"
              >
                <b-thead>
                  <b-tr class="text-dark text-center">
                    <b-th>Name</b-th>
                    <b-th>Employee Id</b-th>
                    <b-th>Emirates Id</b-th>
                    <b-th
                      v-for="(date, index) in dates"
                      :key="index"
                      colspan="22"
                    >
                      {{ date }}
                      <b-tr>
                        <b-td class="col-3"> Status </b-td>
                        <b-td class="col-3"> Check In Time </b-td>
                        <b-td class="col-3"> Check Out Time </b-td>
                        <b-td class="col-3"> Total hours </b-td>
                      </b-tr>
                    </b-th>
                  </b-tr>
                </b-thead>
                <b-tbody class="text-dark">
                  <b-tr
                    v-for="employee in subDepartmentEmployees"
                    :key="employee.id"
                  >
                    <b-td>{{ employee.name }}</b-td>
                    <b-td>{{ employee.id }}</b-td>
                    <b-td>{{ employee.emiratesId }}</b-td>
                    <b-td
                      v-for="attendance in employee.attendances"
                      :key="employee.id + '-' + attendance.date"
                      colspan="22"
                    >
                      <b-tr v-if="attendance.available">
                        <b-td class="col-3">{{ attendance.status }}</b-td>
                        <b-td class="col-3">{{ attendance.checkInTime }}</b-td>
                        <b-td class="col-3">{{ attendance.checkOutTime }}</b-td>
                        <b-td class="col-3"
                          >{{ attendance.totalTime }} Hours</b-td
                        >
                      </b-tr>
                      <span v-else></span>
                    </b-td>
                  </b-tr>
                </b-tbody>
              </b-table-simple>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-toast
      id="employee-attendance-errors"
      variant="danger"
      solid
      no-auto-hide
    >
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>

    <b-toast id="employee-attendance-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Attendance Added!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: { Multiselect },
  mounted() {},
  props: {},
  data() {
    return {
      company: null,
      employee: null,
      department: null,
      subDepartment: [],
      success: "",
      selectAll: false,
      updated: false,
      startDate: "",
      endDate: "",
      dates: [],
      errors: [],
      employees: [],
      companies: [],
      departments: [],
      subDepartments: [{ value: null, text: "Select Sub Department" }],
      attendanceStatuses: [],
      editEmployee: {},
    };
  },
  created() {
    this.attendanceDate = moment().format("YYYY-MM-DD");
    this.getCompanies();
    this.getDepartments();
  },
  methods: {
    getCompanies() {
      this.companies = [{ value: null, text: "Select Company" }];
      let t = this;
      axios
        .get("/companies/all/data")
        .then((res) => {
          $.each(res.data, function (index, company) {
            t.companies.push({
              value: company.id,
              text: company.name,
            });
          });
        })
        .catch((err) => {});
    },
    getEmployees(e) {
      if (e) {
        e.preventDefault();
      }
      this.employees = [];
      this.selectAll = false;
      this.getDates();
      let t = this;
      axios
        .get("/employee-attendances/history-data", {
          params: {
            start_date: this.startDate,
            end_date: this.endDate,
            company_id: this.company,
          },
        })
        .then((res) => {
          this.employees = res.data;
        })
        .catch((err) => {});
    },
    getDates() {
      let startDate = moment(this.startDate);
      let endDate = moment(this.endDate);
      this.dates = [];
      while (startDate <= endDate) {
        let date = startDate.format("YYYY-MM-DD");
        this.dates.push(date);
        startDate = moment(startDate).add(1, "days");
      }
    },
    getDepartments() {
      this.department = null;
      this.departments = [{ value: null, text: "Select Department" }];
      let t = this;
      axios
        .get("/departments/all/data")
        .then((res) => {
          $.each(res.data, function (index, department) {
            t.departments.push({
              value: department.id,
              text: department.name,
            });
          });
        })
        .catch((err) => {});
    },
    getSubDepartments(department) {
      this.subDepartment = [];
      this.subDepartments = [];
      let t = this;
      axios
        .get("/departments/" + department + "/sub-departments")
        .then((res) => {
          $.each(res.data, function (index, subDepartment) {
            t.subDepartments.push({
              value: subDepartment.id,
              text: subDepartment.name,
            });
          });
        })
        .catch((err) => {});
    },
    selectAllEmployees() {
      this.subDepartmentEmployees.forEach((employee) => {
        if (!employee.disabled) {
          Vue.set(employee, "status", this.selectAll);
        }
      });
    },
    checkEmployeesCount() {
      if (this.subDepartmentEmployees.length == this.selectedEmployees.length) {
        this.selectAll = true;
      } else {
        this.selectAll = false;
      }
    },
    downloadAttendanceSheet() {
      let params = {
        start_date: this.startDate,
        end_date: this.endDate,
        company_id: this.company,
      };
      axios
        .get("/employee-attendances/export", {
          params: params,
          responseType: "blob",
        })
        .then((res) => {
          console.log(res);
          const url = window.URL.createObjectURL(new Blob([res.data]));
          const link = document.createElement("a");
          link.href = url;
          link.setAttribute(
            "download",
            "Attendance " + this.attendanceDate + ".xlsx"
          );
          document.body.appendChild(link);
          link.click();
        })
        .catch((err) => {});
    },
  },
  computed: {
    departmentEmployees() {
      if (this.department) {
        return this.employees.filter(
          (employee) => employee.department == this.department
        );
      } else {
        return this.employees;
      }
    },
    selectedDepartmentsId() {
      let ids = [];
      if (this.subDepartment && this.subDepartment.length > 0) {
        ids = this.subDepartment.map((department) => department.value);
      }
      return ids;
    },
    subDepartmentEmployees() {
       if (this.subDepartment && this.subDepartment.length > 0) {
        return this.departmentEmployees.filter(
          (employee) => this.selectedDepartmentsId.includes(employee.subDepartment)
        );
      } else {
        return this.departmentEmployees;
      }
    },
    selectedEmployees() {
      return this.subDepartmentEmployees.filter(
        (employee) => employee.status == true
      );
    },
  },
  watch: {},
};
</script>

<style>
#employeeAttendanceTable .b-table-sticky-header {
  height: auto;
  min-height: 800px;
}
#employeeAttendanceTable .table th,
#employeeAttendanceTable .table td {
  padding: 0.55rem;
}
#employeeAttendanceTable .table-bordered thead td {
  font-size: 14px;
}
</style>
