<template>
  <div>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Select Date Range">
          <b-form :validated="true" @submit="getEmployeesWithLeaves">
            <b-row>
              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="startDate"
                    v-model="startDate"
                    type="text"
                    placeholder="Start Date"
                    :required="true"
                    autocomplete="on"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="startDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="startDate"
                      button-variant="primary"
                      :required="true"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
              <b-col cols="3">
                <b-input-group>
                  <b-form-input
                    id="endDate"
                    v-model="endDate"
                    type="text"
                    placeholder="End Date"
                    :required="true"
                    autocomplete="on"
                    :min="startDate"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-form-datepicker
                      v-model="endDate"
                      button-only
                      right
                      locale="en-US"
                      aria-controls="endDate"
                      button-variant="primary"
                      :required="true"
                      :min="startDate"
                    ></b-form-datepicker>
                  </b-input-group-append>
                </b-input-group>
              </b-col>
              <b-col cols="3">
                <b-button type="submit" variant="primary">
                  Get Employees
                </b-button>
              </b-col>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Employees Leave">
          <b-row align-h="end" class="mb-3">
            <b-col cols="6">
              <b-row align-h="end">
                <b-col cols="3" class="my-1">
                  <b-form-group
                    label="Per page"
                    label-for="per-page-select"
                    label-cols="5"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-form-select
                      id="per-page-select"
                      v-model="perPage"
                      :options="pageOptions"
                      size="sm"
                    ></b-form-select>
                  </b-form-group>
                </b-col>

                <b-col cols="6" class="my-1">
                  <b-form-group
                    label="Search"
                    label-for="filter-input"
                    label-cols="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0"
                  >
                    <b-input-group size="sm">
                      <b-form-input
                        id="filter-input"
                        v-model="filter"
                        type="search"
                        placeholder="Type to Search"
                      ></b-form-input>

                      <b-input-group-append>
                        <b-button
                          :disabled="!filter"
                          @click="filter = ''"
                          variant="primary"
                        >
                          Clear
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col cols="3">
                  <b-button variant="primary" @click="showAddLeave" size="sm">
                    Add Employee Leave</b-button
                  >
                </b-col>
              </b-row>
            </b-col>
          </b-row>
          <b-row id="employeeAttendanceTable">
            <b-col cols="12" id="salaryDetails">
              <b-table
                hover
                large
                :items="employeesWithLeaves"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filter-included-fields="filterOn"
                caption-top
                :sticky-header="true"
                :no-border-collapse="false"
                stacked="lg"
                show-empty
                head-variant="dark"
                :striped="true"
                @filtered="onFiltered"
                class="text-dark"
              >
                <template #cell(leaveType)="row">
                  {{ row.value.name }}
                </template>
                <template #cell(paidLeave)="row">
                  {{ row.value ? "Yes" : "No" }}
                </template>
                <template #cell(pendingBy)="row">
                  {{ row.value != "" ? row.value : "Approved" }}
                </template>
                <template #cell(approvedBy)="row">
                  {{ row.value != "" ? row.value : "Not Approved" }}
                </template>
                <template #cell(status)="row">
                  {{ row.value == 1 ? "Approved" : "Not Approved" }}
                </template>
                <template #cell(submittedDate)="row">
                  {{ row.value }}
                </template>
                <template #cell(approvedDate)="row">
                  {{ row.value ? row.value : "Not Approved Yet" }}
                </template>
                <template #cell(actions)="row">
                  <b-button
                    type="button"
                    class="text-light js-sweetalert"
                    size="sm"
                    title="Edit"
                    variant="primary"
                    @click="updateModal(row)"
                    ><font-awesome-icon :icon="['fas', 'edit']" /> Edit
                  </b-button>
                </template>
              </b-table>
            </b-col>
          </b-row>
          <b-row class="mt-3" align-h="end">
            <b-col cols="3" class="my-1">
              <b-pagination
                v-model="currentPage"
                first-text="First"
                last-text="Last"
                :total-rows="totalRows"
                :per-page="perPage"
                size="md"
                class="my-0 pull-right"
              ></b-pagination>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-modal title="Employee Leave Edit" ref="employee-leave-edit" size="lg">
      <div v-if="Object.keys(editLeave).length !== 0">
        <b-row>
          <b-col cols="6">
            <b-form-group>
              <label for="asset_type_id">Employee</label>
              <input
                type="text"
                v-model="editLeave.name"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group>
              <label for="asset_type_id">Employee Id</label>
              <input
                type="text"
                v-model="editLeave.id"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <hr />
        <b-row class="mb-3">
          <b-col>
            <h5>Leave Details</h5>
          </b-col>
        </b-row>

        <b-row>
          <b-col cols="4">
            <b-form-group>
              <label for="asset_type_id">Leave Type</label>
              <b-form-select v-model="editLeave.leave.id" :options="leaveTypes">
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <label for="leaveStartDate">Start Date</label>
              <b-input-group>
                <b-form-input
                  id="endDate"
                  v-model="editLeave.leaveStartDate"
                  type="text"
                  placeholder="End Date"
                  autocomplete="on"
                  :required="true"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="editLeave.leaveStartDate"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="endDate"
                    button-variant="primary"
                    :required="true"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <label for="leaveStartDate">End Date</label>
              <b-input-group>
                <b-form-input
                  id="endDate"
                  v-model="editLeave.leaveEndDate"
                  type="text"
                  placeholder="End Date"
                  autocomplete="on"
                  :required="true"
                  :min="editLeave.leaveStartDate"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="editLeave.leaveEndDate"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="endDate"
                    button-variant="primary"
                    :required="true"
                    :min="editLeave.leaveStartDate"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3">
            <b-input-group>
              <b-form-checkbox
                v-model="editLeave.paid"
                :value="true"
                :unchecked-value="false"
              >
                Paid Leave?
              </b-form-checkbox>
            </b-input-group>
          </b-col>
          <b-col cols="3">
            <b-input-group>
              <b-form-checkbox
                v-model="editLeave.status"
                :value="true"
                :unchecked-value="false"
              >
                Approve?
              </b-form-checkbox>
            </b-input-group>
          </b-col>
          <b-col cols="6">
            <b-form-textarea
              v-model="editLeave.remarks"
              placeholder="Enter Remarks"
            ></b-form-textarea>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-success" @click="updateLeave">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-modal title="Employee Leave Add" ref="employee-leave-add" size="lg">
      <b-form>
        <b-row>
          <b-col cols="6">
            <b-form-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-select
                id="selectedDepartment"
                v-model="editLeave.id"
                :options="employees"
                :required="true"
                placeholder="Select Employee"
                :disabled="employees.length == 1"
              ></b-form-select>
            </b-form-group>
          </b-col>

          <b-col cols="6">
            <b-form-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-select
                id="selectedCompany"
                v-model="editLeave.leave.id"
                :options="leaveTypes"
                :required="true"
                placeholder="Select Leave Type"
              ></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col cols="6">
            <b-input-group>
              <b-form-input
                id="startDate"
                v-model="editLeave.leaveStartDate"
                type="text"
                placeholder="Start Date"
                :required="true"
                autocomplete="on"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="editLeave.leaveStartDate"
                  button-only
                  right
                  locale="en-US"
                  aria-controls="startDate"
                  button-variant="primary"
                  :required="true"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
          </b-col>

          <b-col cols="6">
            <b-input-group>
              <b-form-input
                id="endDate"
                v-model="editLeave.leaveEndDate"
                type="text"
                placeholder="End Date"
                autocomplete="on"
                :required="true"
                :min="editLeave.leaveStartDate"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="editLeave.leaveEndDate"
                  button-only
                  right
                  locale="en-US"
                  aria-controls="endDate"
                  button-variant="primary"
                  :required="true"
                  :min="editLeave.leaveStartDate"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col cols="3">
            <b-input-group>
              <b-form-checkbox
                v-model="editLeave.paid"
                :value="true"
                :unchecked-value="false"
              >
                Paid Leave?
              </b-form-checkbox>
            </b-input-group>
          </b-col>

          <b-col cols="9">
            <b-input-group>
              <b-form-textarea
                v-model="editLeave.remarks"
                placeholder="Enter Remarks"
              ></b-form-textarea>
            </b-input-group>
          </b-col>
        </b-row>
      </b-form>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-success" @click="updateLeave">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideAddLeave">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="employee-leaves-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>

    <b-toast id="employee-leave-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Leave Added!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
export default {
  components: { VueTimepicker },
  mounted() {},
  props: {
    employeeId: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      year: null,
      success: "",
      errors: [],
      employees: [{ value: null, text: "Select Employee" }],
      leaveTypes: [],
      employeesWithLeaves: [],
      editLeave: {
        id: null,
        name: null,
        employeeLeaveId: 0,
        paid: false,
        status: false,
        leave: {
          id: null,
          name: null,
        },
        leaveStartDate: null,
        leaveEndDate: null,
      },
      filter: null,
      fields: [
        { key: "name", label: "Name" },
        { key: "employeeId", label: "Employee Id" },
        { key: "leaveType", label: "Leave Type" },
        { key: "startDate", label: "Start Date" },
        { key: "endDate", label: "End Date" },
        { key: "paidLeave", label: "Paid Leave" },
        { key: "status", label: "Status" },
        { key: "submittedDate", label: "Submitted Date" },
        { key: "approvedBy", label: "Approved By" },
        { key: "pendingBy", label: "Pending Approval By" },
        { key: "approvedDate", label: "Approved Date" },
        { key: "remarks", label: "Remarks" },
        { key: "actions", label: "Actions" },
      ],
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filterOn: [],
      totalRows: 0,
      startDate: "",
      endDate: "",
    };
  },
  created() {
    this.getLeaveTypes();
    this.leaveEmployees();
  },
  methods: {
    getLeaveTypes() {
      this.leaveTypes = [{ value: null, text: "Select Leave Type" }];
      let t = this;
      axios
        .get("/leave-types/all/data")
        .then((res) => {
          $.each(res.data, function (index, type) {
            t.leaveTypes.push({
              value: type.id,
              text: type.name,
            });
          });
        })
        .catch((err) => {});
    },
    leaveEmployees() {
      this.employees = [{ value: null, text: "Select Employee" }];
      let t = this;
      axios
        .get("/employees/" + this.employeeId + "/employees")
        .then((res) => {
          $.each(res.data, function (index, employee) {
            t.employees.push({
              value: employee.employee_id,
              text: employee.full_name,
            });
          });
        })
        .catch((err) => {});
    },
    updateModal(employee) {
      this.editLeave = {
        id: employee.item.employeeId,
        name: employee.item.name,
        employeeLeaveId: employee.item.employeeLeaveId,
        leave: employee.item.leaveType,
        leaveStartDate: employee.item.startDate,
        leaveEndDate: employee.item.endDate,
        paid: employee.item.paidLeave == 1 ? true : false,
        status: employee.item.status == 1 ? true : false,
        remarks: employee.item.remarks,
      };
      this.$refs["employee-leave-edit"].show();
    },
    hideModal() {
      this.$refs["employee-leave-edit"].hide();
    },
    updateLeave(e) {
      this.errors = [];
      this.suceess = "";
      if (e) {
        e.preventDefault();
      }
      let data = {
        id: this.editLeave.employeeLeaveId,
        employee_id:
          this.editLeave != null ? this.editLeave.id : this.employeeId,
        leave_type_id:
          this.editLeave != null ? this.editLeave.leave.id : this.leaveType,
        start_date:
          this.editLeave != null
            ? this.editLeave.leaveStartDate
            : this.startDate,
        end_date:
          this.editLeave != null ? this.editLeave.leaveEndDate : this.endDate,
        is_paid: this.editLeave.paid,
        approve: this.editLeave.status,
        remarks: this.editLeave.remarks,
      };
      axios
        .post("/employee-leaves", data)
        .then((res) => {
          this.success = res.data.success;
          this.$bvToast.show("employee-leave-success");
          this.getEmployeesWithLeaves();
          this.resetLeaveData();
          this.$refs["employee-leave-edit"].hide();
        })
        .catch((err) => {
          let t = this;
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("employee-leaves-errors");
        });
    },
    getEmployeesWithLeaves(e) {
      if (e) {
        e.preventDefault();
      }
      this.employeesWithLeaves = [];
      let t = this;
      axios
        .get("/employees/all/leaves", {
          params: { startDate: this.startDate, endDate: this.endDate },
        })
        .then((res) => {
          this.employeesWithLeaves = res.data;
          this.totalRows = this.employeesWithLeaves.length;
        })
        .catch((err) => {});
    },
    resetLeaveData() {
      this.editLeave = {
        id: null,
        name: null,
        employeeLeaveId: 0,
        leave: {
          id: null,
          name: null,
        },
        leaveStartDate: null,
        leaveEndDate: null,
      };
    },
    addLeave() {},
    updateComponent() {},
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    showAddLeave() {
      this.$refs["employee-leave-add"].show();
    },
    hideAddLeave() {
      this.$refs["employee-leave-add"].hide();
    },
  },
  computed: {},
};
</script>
