<template>
  <div>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Add Leave">
          <b-row class="justify-content-md-center">
            <b-col cols="8">
              <b-form :validated="true" @submit="updateLeave">
                <b-row>
                  <b-col cols="12">
                    <b-form-group class="mb-2 mr-sm-2 mb-sm-0">
                      <b-form-select
                        id="selectedCompany"
                        v-model="editLeave.leave.id"
                        :options="leaveTypes"
                        :required="true"
                        placeholder="Select Leave Type"
                      ></b-form-select>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row class="mt-3">
                  <b-col cols="6">
                    <b-input-group>
                      <b-form-input
                        id="startDate"
                        v-model="editLeave.leaveStartDate"
                        type="text"
                        placeholder="Start Date"
                        :required="true"
                        autocomplete="on"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="editLeave.leaveStartDate"
                          button-only
                          right
                          locale="en-US"
                          aria-controls="startDate"
                          button-variant="primary"
                          :required="true"
                        ></b-form-datepicker>
                      </b-input-group-append>
                    </b-input-group>
                  </b-col>

                  <b-col cols="6">
                    <b-input-group>
                      <b-form-input
                        id="endDate"
                        v-model="editLeave.leaveEndDate"
                        type="text"
                        placeholder="End Date"
                        autocomplete="on"
                        :required="true"
                        :min="editLeave.leaveStartDate"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="editLeave.leaveEndDate"
                          button-only
                          right
                          locale="en-US"
                          aria-controls="endDate"
                          button-variant="primary"
                          :required="true"
                          :min="editLeave.leaveStartDate"
                        ></b-form-datepicker>
                      </b-input-group-append>
                    </b-input-group>
                  </b-col>
                </b-row>

                <b-row class="mt-3">
                  <b-col cols="12">
                    <b-input-group>
                      <b-form-textarea
                        v-model="editLeave.remarks"
                        placeholder="Enter Remarks"
                      ></b-form-textarea>
                    </b-input-group>
                  </b-col>
                </b-row>
                <b-row class="mt-3">
                  <b-col cols="12" class="text-right">
                    <b-button type="submit" variant="success">
                      Add Employee Leave
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

    <b-toast id="employee-leaves-errors" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="error in errors" :key="error">{{ error.error }}</li>
      </ul>
    </b-toast>

    <b-toast id="employee-leave-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Leave Added!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import VueTimepicker from "vue2-timepicker";
import "vue2-timepicker/dist/VueTimepicker.css";
export default {
  components: { VueTimepicker },
  mounted() {},
  props: {
    employeeId: {
      required: true,
      type: String,
    },
  },
  data() {
    return {
      year: null,
      success: "",
      errors: [],
      employees: [{ value: null, text: "Select Employee" }],
      leaveTypes: [],
      employeesWithLeaves: [],
      editLeave: {
        id: null,
        name: null,
        employeeLeaveId: 0,
        leave: {
          id: null,
          name: null,
        },
        leaveStartDate: null,
        leaveEndDate: null,
      },
      filter: null,
      fields: [
        { key: "name", label: "Name" },
        { key: "employeeId", label: "Employee Id" },
        { key: "leaveType", label: "Leave Type" },
        { key: "startDate", label: "Start Date" },
        { key: "endDate", label: "End Date" },
        { key: "paidLeave", label: "Paid Leave" },
        { key: "remarks", label: "Remarks" },
        { key: "actions", label: "Actions" },
      ],
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50],
      sortDesc: false,
      sortDirection: "asc",
      filterOn: [],
      totalRows: 0,
    };
  },
  created() {
    this.getLeaveTypes();
  },
  methods: {
    getLeaveTypes() {
      this.leaveTypes = [{ value: null, text: "Select Leave Type" }];
      let t = this;
      axios
        .get("/leave-types/all/data")
        .then((res) => {
          $.each(res.data, function (index, type) {
            t.leaveTypes.push({
              value: type.id,
              text: type.name,
            });
          });
        })
        .catch((err) => {});
    },
    updateModal(employee) {
      this.editLeave = {
        id: this.employeeId,
        name: employee.item.name,
        employeeLeaveId: employee.item.employeeLeaveId,
        leave: employee.item.leaveType,
        leaveStartDate: employee.item.startDate,
        leaveEndDate: employee.item.endDate,
        paid: employee.item.paidLeave,
        remarks: employee.item.remarks,
      };
      this.$refs["employee-leave-edit"].show();
    },
    hideModal() {
      this.$refs["employee-leave-edit"].hide();
    },
    updateLeave(e) {
      this.errors = [];
      this.suceess = "";
      if (e) {
        e.preventDefault();
      }
      let data = {
        id: this.editLeave.employeeLeaveId,
        employee_id: this.employeeId,
        leave_type_id:
          this.editLeave != null ? this.editLeave.leave.id : this.leaveType,
        start_date:
          this.editLeave != null
            ? this.editLeave.leaveStartDate
            : this.startDate,
        end_date:
          this.editLeave != null ? this.editLeave.leaveEndDate : this.endDate,
        is_paid: false,
        remarks: this.editLeave.remarks,
      };
      axios
        .post("/employee-leaves", data)
        .then((res) => {
          this.success = res.data.success;
          this.$bvToast.show("employee-leave-success");
          this.getEmployeesData();
          this.resetLeaveData();
          this.$refs["employee-leave-edit"].hide();
        })
        .catch((err) => {
          let t = this;
          if (typeof err.response.data == "object") {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
          } else {
            t.errors.push({ error: err.response.data });
          }
          this.$bvToast.show("employee-leaves-errors");
        });
    },
    resetLeaveData() {
      this.editLeave = {
        id: null,
        name: null,
        employeeLeaveId: 0,
        leave: {
          id: null,
          name: null,
        },
        leaveStartDate: null,
        leaveEndDate: null,
      };
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
  computed: {},
};
</script>
