<template>
  <div>
    <b-row>
      <b-col size="12">
        <b-card title="Select Providers">
          <b-row>
            <b-col cols="3">
              <b-form-group>
                <b-form-select
                  id="providers"
                  v-model="provider"
                  :options="providers"
                  placeholder="Select Provider"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-form-group>
                <b-form-select
                  id="companies"
                  v-model="company"
                  :options="companies"
                  :required="true"
                  placeholder="Select Company"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="3">
              <b-input-group>
                <b-form-input
                  id="policystartdate"
                  v-model="policyStartDate"
                  type="text"
                  placeholder="Policy Start Date"
                  autocomplete="on"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="policyStartDate"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="policystartdate"
                    button-variant="primary"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </b-col>
            <b-col cols="3">
              <b-input-group>
                <b-form-input
                  id="policyenddate"
                  v-model="policyEndDate"
                  type="text"
                  placeholder="Policy End Date"
                  autocomplete="on"
                  :min="policyStartDate"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="policyEndDate"
                    button-only
                    right
                    locale="en-US"
                    aria-controls="policyenddate"
                    button-variant="primary"
                    :min="policyStartDate"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Employees List">
          <div v-if="show">
            <b-row align-h="end" class="mb-3">
              <b-col cols="3" class="my-1">
                <b-form-group
                  label="Per page"
                  label-for="per-page-select"
                  label-cols="5"
                  label-align-sm="right"
                  label-size="sm"
                  class="mb-0"
                >
                  <b-form-select
                    id="per-page-select"
                    v-model="perPage"
                    :options="pageOptions"
                    size="sm"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col cols="4">
                <b-form-group
                  label="Search"
                  label-for="filter-input"
                  label-cols="3"
                  label-align-sm="right"
                  label-size="sm"
                  class="mb-0"
                >
                  <b-input-group size="sm">
                    <b-form-input
                      id="filter-input"
                      v-model="filter"
                      type="search"
                      placeholder="Type to Search"
                    ></b-form-input>

                    <b-input-group-append>
                      <b-button
                        :disabled="!filter"
                        @click="filter = ''"
                        variant="primary"
                      >
                        Clear
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row>
              <b-col cols="12" id="salaryDetails">
                <b-table
                  hover
                  large
                  :items="employees"
                  :fields="fields"
                  caption-top
                  :sticky-header="true"
                  :no-border-collapse="false"
                  :filter="filter"
                  stacked="lg"
                  show-empty
                  head-variant="dark"
                  :striped="true"
                  @filtered="onFiltered"
                  class="text-dark"
                  first-text="First"
                  last-text="Last"
                  :total-rows="totalRows"
                  :per-page="perPage"
                >
                  <template v-slot:head(selected)="data">
                    <div class="fancy-checkbox">
                      <b-checkbox
                        v-model="checkallEmployee"
                        :value="true"
                        :unchecked-value="false"
                        @change="selectAllEmployees"
                        >Select All</b-checkbox
                      >
                    </div>
                  </template>

                  <template #cell(selected)="row">
                    <div class="fancy-checkbox">
                      <b-checkbox
                        v-model="row.item.selected"
                        :value="true"
                        :unchecked-value="false"
                      ></b-checkbox>
                    </div>
                  </template>

                  <template #cell(policyNumber)="row">
                    <b-input
                      v-model="row.item.policyNumber"
                      placeholder="Policy Number"
                    ></b-input>
                  </template>

                  <template #cell(insuranceCategory)="row">
                    <b-form-select
                      id="companies"
                      v-model="row.item.insuranceCategory"
                      :options="categories"
                      :required="true"
                      placeholder="Select Company"
                    ></b-form-select>
                  </template>

                  <template #cell(insuredFrom)="row">
                    <b-input-group>
                      <b-form-input
                        id="ensuredFrom"
                        v-model="row.item.insuredFrom"
                        type="text"
                        placeholder="Ensurance Start Date"
                        autocomplete="on"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="row.item.insuredFrom"
                          button-only
                          right
                          locale="en-US"
                          aria-controls="ensuredFrom"
                          button-variant="primary"
                          button-size="sm"
                        ></b-form-datepicker>
                      </b-input-group-append>
                    </b-input-group>
                  </template>

                  <template #cell(insuredTo)="row">
                    <b-input-group>
                      <b-form-input
                        id="ensuredFrom"
                        v-model="row.item.insuredTo"
                        type="text"
                        placeholder="Ensurance End Date"
                        autocomplete="on"
                        :min="row.item.insuredFrom"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-form-datepicker
                          v-model="row.item.insuredTo"
                          button-only
                          right
                          locale="en-US"
                          aria-controls="ensuredFrom"
                          button-variant="primary"
                          :min="row.item.insuredFrom"
                        ></b-form-datepicker>
                      </b-input-group-append>
                    </b-input-group>
                  </template>

                  <template #cell(annualPremium)="row">
                    <b-input
                      v-model="row.item.annualPremium"
                      placeholder="Annul Premiun"
                      @change="calculateMonthlyRate(row.item)"
                    ></b-input>
                  </template>

                  <template #cell(actualRate)="row">
                    <b-input
                      v-model="row.item.actualRate"
                      placeholder="Actual Rate"
                      @change="calculateMonthlyRate(row.item)"
                    ></b-input>
                  </template>

                  <template #cell(monthlyRate)="row">
                    <b-input
                      v-model="row.item.monthlyRate"
                      placeholder="Monthly Rate"
                    ></b-input>
                  </template>
                </b-table>
              </b-col>
            </b-row>

            <b-row class="mt-3" align-h="end">
              <b-col cols="12">
                <b-button
                  variant="success"
                  @click="updateEmployeesInsurance"
                  class="pull-right mb-3"
                >
                  <font-awesome-icon :icon="['fas', 'user-edit']" /> Update
                </b-button>
              </b-col>
              <b-col cols="3" class="my-1">
                <b-pagination
                  v-model="currentPage"
                  first-text="First"
                  last-text="Last"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  size="md"
                  class="my-0 pull-right"
                ></b-pagination>
              </b-col>
            </b-row>
          </div>
        </b-card>
      </b-col>
    </b-row>

    <b-toast id="insurance-error" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
    <b-toast id="insurance-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Salary Updated!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect,
  },
  mounted() {},
  props: {},
  data() {
    return {
      show: false,
      startDate: "",
      endDate: "",
      allowances: [],
      employees: [],
      deductables: [],
      provider: null,
      company: null,
      providers: [{ value: null, text: "Select Provider" }],
      companies: [{ value: null, text: "Select Company" }],
      categories: [{ value: null, text: "Select Category" }],
      errors: [],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      employeeId: null,
      employeeBasicSalary: "",
      employeeName: "",
      success: "",
      updated: false,
      checkallEmployee: false,
      allSelected: false,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 30, 50, 100],
      totalRows: "",
      fields: [
        { key: "selected", label: "Select", sortable: false },
        { key: "name", label: "Name" },
        { key: "employeeId", label: "Employee Id" },
        { key: "emiratesId", label: "Emirates Id" },
        { key: "policyNumber", label: "Policy Number" },
        { key: "insuranceCategory", label: "Insurance Category" },
        { key: "insuredFrom", label: "Insured From" },
        { key: "insuredTo", label: "Insured To" },
        { key: "annualPremium", label: "Annual Premium" },
        { key: "actualRate", label: "Aactual Rate" },
        { key: "monthlyRate", label: "Monthly Rate" },
      ],
      policyStartDate: "",
      policyEndDate: "",
    };
  },
  created() {
    this.getCompanies();
    this.getProviders();
    this.getEmployees();
    this.getCategories();
  },
  methods: {
    showSalaryModal(employee) {
      this.employeeId = employee.item.name.id;
      this.employeeBasicSalary = employee.item.basicSalary;
      this.employeeName = employee.item.name.name;

      this.excludedAllowances.forEach((allowance) => {
        Vue.set(allowance, "amount", 0);
      });

      this.excludedDeductables.forEach((deductable) => {
        Vue.set(deductable, "amount", 0);
      });

      this.$refs["employee-salary-edit"].show();
    },
    hideModal() {
      this.$refs["employee-salary-edit"].hide();
    },
    getCategories() {
      axios
        .get("/insurance-categories/all/data")
        .then((res) => {
          res.data.forEach((category) => {
            this.categories.push({ value: category.id, text: category.name });
          });
        })
        .catch((err) => {});
    },
    getCompanies() {
      axios
        .get("/insurance-comapnies/all/data")
        .then((res) => {
          res.data.forEach((company) => {
            this.companies.push({ value: company.id, text: company.name });
          });
        })
        .catch((err) => {});
    },
    getEmployees() {
      this.employees = [];
      let t = this;
      axios
        .get("/insurance/employees/all/data")
        .then((res) => {
          res.data.forEach((employee) => {
            this.employees.push({
              selected: false,
              name: employee.full_name,
              employeeId: employee.employee_id,
              emiratesId: employee.emirates_id,
              insuranceCategory: employee.insurance_category_id,
              insuredFrom: employee.employee_insured_start_date,
              insuredTo: employee.employee_insured_end_date,
              actualRate: employee.actual_rate,
              monthlyRate: employee.monthly_rate,
              annualPremium: employee.annual_premium_per_year_rate,
              policyNumber: employee.policy_number,
            });
          });
          this.totalRows = this.employees.length;
          this.show = true;
        })
        .catch((err) => {});
    },
    getProviders() {
      let t = this;
      axios
        .get("/insurance-providers/all/data")
        .then((res) => {
          res.data.forEach((provider) => {
            this.providers.push({ value: provider.id, text: provider.name });
          });
        })
        .catch((err) => {});
    },
    selectAllEmployees() {
      this.employees.slice(0, this.perPage).forEach((employee) => {
        Vue.set(employee, "selected", this.checkallEmployee);
      });
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    updateComponent() {
      if (this.updated) {
        this.getEmployees();
      }
    },
    calculateMonthlyRate(employee) {
      this.employeeId = employee.employeeId;
      this.selectedEmployee.monthlyRate = parseFloat(
        employee.annualPremium / 12
      ).toFixed(2);
    },
    updateEmployeesInsurance() {
      if (this.selectedEmployees.length == 0) {
        this.errors = [];
        this.errors.push({ error: "No employee selected" });
        this.$bvToast.show("insurance-error");
      } else {
        let promises = [];
        this.selectedEmployees.forEach((employee) => {
          let url = "/employees/" + employee.employeeId + "/employee-insurance-details";
          let employeesData = [];
          employeesData.push({
            insurance_provider_id: this.provider,
            insurance_company_id: this.company,
            policy_contract_start_date: this.policyStartDate,
            policy_contract_end_date: this.policyEndDate,
            insurance_category_id: employee.insuranceCategory,
            policy_number: employee.policyNumber,
            employee_insured_start_date: employee.insuredFrom,
            employee_insured_end_date: employee.insuredTo,
            annual_premium_per_year_rate: employee.annualPremium,
            actual_rate: employee.actualRate,
            monthly_rate: employee.monthlyRate,
          });
           promises.push(axios.put(url, employeesData[0]));
        });

        axios
        .all(promises)
        .then(
          axios.spread((...responses) => {
            this.success =
              responses.length + " selected employees insurance updated.";
            this.$bvToast.show("insurance-success");
            this.getEmployees();
          })
        )
        .catch((errors) => {
          this.errors = [];
          this.errors.push({ error: errors.response.data });
          this.$bvToast.show("employee-attendance-errors");
          console.error();
        });
      }
    },
  },
  computed: {
    selectedEmployee() {
      let employee = this.employees.filter(
        (employee) => employee.employeeId == this.employeeId
      );
      return employee[0];
    },
    selectedEmployeesId() {
      let ids = [];
      let employees = this.employees.filter(
        (employee) => employee.selected == true
      );
      ids = employees.map((employees) => employees.name.id);
      return ids;
    },
    includedAllowances() {
      if (this.selectedEmployee.allowances == null) {
        return [0];
      } else {
        let allowances = this.selectedEmployee.allowances.map(
          (allowances) => allowances.allowanceId
        );
        return allowances;
      }
    },
    excludedAllowances() {
      let allowances = this.allowances.filter(
        (allowance) => !this.includedAllowances.includes(allowance.allowanceId)
      );
      return allowances;
    },
    includedDeductables() {
      if (this.selectedEmployee.deductables == null) {
        return [0];
      } else {
        let deductables = this.selectedEmployee.deductables.map(
          (deductables) => deductables.deductionId
        );
        return deductables;
      }
    },
    excludedDeductables() {
      let deductables = this.deductables.filter(
        (deductable) =>
          !this.includedDeductables.includes(deductable.deductionId)
      );
      return deductables;
    },
    selectedPayRoll() {
      return this.payrolls.filter((payroll) => payroll.id == this.payroll)[0];
    },
    selectedEmployees() {
      return this.employees.filter((employee) => employee.selected == true);
    },
  },
  watch: {
    perPage: function () {
      this.selectAllEmployees();
    },
    selectedEmployees: function () {
      if (
        this.perPage <= this.totalRows &&
        this.selectedEmployees.length < this.perPage
      ) {
        this.checkallEmployee = false;
      }
    },
  },
};
</script>
<style>
.salaryInput {
  width: 100px;
}
#employeeSalary .card-header {
  padding-top: 0.001em;
  padding-left: 0.6em;
  padding-bottom: 0.8em;
}
#employeeSalary .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#salaryDetails .b-table-sticky-header {
  max-height: 700px;
}
</style>
