<template>
  <div>
    <b-row>
      <b-col size="12">
        <b-card title="Select Salary Parameters">
          <b-form inline :validated="true" @submit="getEmployees">
            <label class="sr-only" for="inline-form-input-name"
              >Pay Rolls</label
            >
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-select
                v-model="payroll"
                :options="payrolls"
                :required="true"
                placeholer="Select PayRoll"
              ></b-form-select>
            </b-input-group>
            <label class="sr-only" for="start-date">Start Date</label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input
                id="start-date"
                v-model="startDate"
                type="text"
                placeholder="Start Date"
                autocomplete="off"
                :required="true"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="startDate"
                  button-only
                  right
                  locale="en-US"
                  button-variant="primary"
                  aria-controls="start-date"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>

            <label class="sr-only" for="end-date">End Date</label>
            <b-input-group class="mb-2 mr-sm-2 mb-sm-0">
              <b-form-input
                id="end-date"
                v-model="endDate"
                type="text"
                placeholder="End Date"
                autocomplete="off"
                :required="true"
                :min="startDate"
              ></b-form-input>
              <b-input-group-append>
                <b-form-datepicker
                  v-model="endDate"
                  button-only
                  right
                  locale="en-US"
                  button-variant="primary"
                  aria-controls="end-date"
                  :min="startDate"
                ></b-form-datepicker>
              </b-input-group-append>
            </b-input-group>
            <b-button type="submit" variant="primary">Load Employees</b-button>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col size="12" class="mt-3">
        <b-card title="Employees List">
          <div v-if="show">
            <b-row align-h="end" class="mb-3">
              <b-col cols="12 text-right mb-4 mt-2">
                <b-button variant="success" @click="exportEmployees"
                  ><b-icon
                    icon="file-earmark-excel-fill"
                    aria-hidden="true"
                  ></b-icon>
                  Export
                </b-button>
              </b-col>
              <b-col cols="4">
                <b-form-group
                  label="Search"
                  label-for="filter-input"
                  label-cols="3"
                  label-align-sm="right"
                  label-size="sm"
                  class="mb-0"
                >
                  <b-input-group size="sm">
                    <b-form-input
                      id="filter-input"
                      v-model="filter"
                      type="search"
                      placeholder="Type to Search"
                    ></b-form-input>

                    <b-input-group-append>
                      <b-button
                        :disabled="!filter"
                        @click="filter = ''"
                        variant="primary"
                      >
                        Clear
                      </b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="12" id="salaryDetails">
                <b-table
                  hover
                  large
                  :items="employees"
                  :fields="fields"
                  caption-top
                  :sticky-header="true"
                  :no-border-collapse="false"
                  :filter="filter"
                  stacked="lg"
                  show-empty
                  head-variant="dark"
                  :striped="true"
                  @filtered="onFiltered"
                  class="text-dark"
                >
                  <template v-slot:head(selected)="data">
                    <b-checkbox
                      v-model="checkallEmployee"
                      :value="true"
                      :unchecked-value="false"
                      @change="selectAllEmployees"
                      >Select All</b-checkbox
                    >
                  </template>

                  <template #cell(selected)="row">
                    <b-checkbox
                      v-model="row.value"
                      :value="true"
                      :unchecked-value="false"
                    ></b-checkbox>
                  </template>

                  <template #cell(name)="row">
                    <b-row>
                      <b-col cols="3">
                        <img
                          :src="row.value.pic"
                          class="rounded-circle width35"
                          alt=""
                        />
                      </b-col>
                      <b-col cols="7">
                        {{ row.value.name }} <br />
                        {{ row.value.id }}
                      </b-col>
                    </b-row>
                  </template>

                  <template #cell(salaryDate)="row">
                    {{ row.value.startDate }} - {{ row.value.endDate }}
                  </template>

                  <template #cell(actions)="row">
                    <a
                      :href="'/employee-salaries/' + row.value + '/show'"
                      class="text-light"
                    >
                      <b-button
                        type="button"
                        class="text-light"
                        title="Slip"
                        size="sm"
                        variant="success"
                        ><font-awesome-icon :icon="['fas', 'envelope']" /> Slip
                      </b-button>
                    </a>
                    <b-button
                      type="button"
                      class="text-light js-sweetalert"
                      size="sm"
                      title="Edit"
                      variant="primary"
                      @click="showSalaryModal(row)"
                      ><font-awesome-icon :icon="['fas', 'edit']" /> Edit
                    </b-button>
                  </template>
                </b-table>
              </b-col>
            </b-row>
          </div>
        </b-card>
      </b-col>
    </b-row>
    <b-modal
      title="Employee Salary Edit"
      ref="employee-salary-edit"
      size="lg"
      @hidden="updateComponent"
    >
      <div v-if="selectedEmployee">
        <b-row>
          <b-col cols="4">
            <b-form-group>
              <label for="asset_type_id">Employee</label>
              <input
                type="text"
                v-model="selectedEmployee.name.name"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <label for="asset_type_id">Employee Id</label>
              <input
                type="text"
                v-model="selectedEmployee.name.id"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
          <b-col cols="4">
            <b-form-group>
              <label for="asset_type_id">Basic Salary</label>
              <input
                type="text"
                v-model="selectedEmployee.basicSalary"
                class="form-control"
                :disabled="true"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <hr v-if="selectedEmployee.allowances || excludedAllowances" />
        <b-row v-if="selectedEmployee.allowances || excludedAllowances">
          <b-col cols="12">
            <h5>Allowances</h5>
          </b-col>
          <b-col cols="3"
            v-for="allowance in selectedEmployee.allowances"
            :key="'allowance_user-' + allowance.allowanceId"
          >
            <b-form-group>
              <label for="asset_type_id">{{ allowance.name }}</label>
              <input
                type="text"
                v-model="allowance.amount"
                class="form-control"
              />
            </b-form-group>
          </b-col>
          <b-col cols="3"
            v-for="allowance in excludedAllowances"
            :key="'allowance_user-' + allowance.allowanceId"
          >
            <b-form-group>
              <label for="asset_type_id">{{ allowance.name }}</label>
              <input
                type="text"
                v-model="allowance.amount"
                class="form-control"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <hr v-if="selectedEmployee.deductables || excludedDeductables" />
        <b-row v-if="selectedEmployee.deductables || excludedDeductables">
          <b-col cols="12">
            <h5>Deducatables</h5>
          </b-col>
          <b-col cols="3"
            v-for="deductable in selectedEmployee.deductables"
            :key="'deductable_user-' + deductable.deductionId"
          >
            <b-form-group>
              <label for="asset_type_id">{{ deductable.name }}</label>
              <input
                type="text"
                v-model="deductable.amount"
                class="form-control"
              />
            </b-form-group>
          </b-col>
          <b-col cols="3"
            v-for="deductable in excludedDeductables"
            :key="'deductable_user-' + deductable.deductionId"
          >
            <b-form-group>
              <label for="asset_type_id">{{ deductable.name }}</label>
              <input
                type="text"
                v-model="deductable.amount"
                class="form-control"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </div>
      <template #modal-footer>
        <div id="dependant_div">
          <button type="button" class="btn btn-success" @click="updateSalary">
            UPDATE CHANGES
          </button>
          <button type="button" class="btn btn-danger" @click="hideModal">
            CLOSE
          </button>
        </div>
      </template>
    </b-modal>

    <b-toast id="salary-edit-error" variant="danger" solid no-auto-hide>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Errors!</strong>
        </div>
      </template>
      <ul>
        <li v-for="(error, index) in errors" :key="index">{{ error.error }}</li>
      </ul>
    </b-toast>
    <b-toast id="salary-update-success" variant="success" solid>
      <template #toast-title>
        <div class="d-flex flex-grow-1 align-items-baseline">
          <strong class="mr-auto">Salary Updated!</strong>
        </div>
      </template>
      <ul>
        <li>{{ success }}</li>
      </ul>
    </b-toast>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
export default {
  components: {
    Multiselect,
  },
  mounted() {},
  props: {},
  data() {
    return {
      show: false,
      startDate: "",
      endDate: "",
      payroll: null,
      allowances: [],
      employees: [],
      deductables: [],
      payrolls: [{ value: null, text: "Select PayRoll" }],
      errors: [],
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      employeeId: null,
      employeeBasicSalary: "",
      employeeName: "",
      success: "",
      updated: false,
      checkallEmployee: false,
      allSelected: false,
      fields: [
        { key: "selected", label: "Select", sortable: false },
        { key: "name", label: "Name" },
        { key: "laborCardNumber", label: "Labour Card Number" },
        { key: "personCode", label: "Person Code" },
        { key: "dateOfJoining", label: "Joining Date" },
        { key: "salaryDate", label: "Salary Start-End" },
        { key: "basicSalary", label: "Basic Salary" },
        { key: "allowancesTotal", label: "Allowances Total" },
        { key: "grossSalary", label: "Gross Salary" },
        { key: "deductablesTotal", label: "Deductables Total" },
        { key: "netSalary", label: "Net Salary" },
        { key: "actions", label: "Actions" },
      ],
    };
  },
  created() {
    this.getAllowances();
    this.getDeductables();
    this.getPayRolls();
  },
  methods: {
    showSalaryModal(employee) {
      
      this.employeeId = employee.item.name.id;
      this.employeeBasicSalary = employee.item.basicSalary;
      this.employeeName = employee.item.name.name;

      this.excludedAllowances.forEach((allowance) => {
        Vue.set(allowance, "amount", 0);
      });

      this.excludedDeductables.forEach((deductable) => {
        Vue.set(deductable, "amount", 0);
      });

      this.$refs["employee-salary-edit"].show();
    },
    hideModal() {
      this.$refs["employee-salary-edit"].hide();
    },
    getPayRolls() {
      let t = this;
      axios
        .get("/paygroups/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.payrolls.push({
              value: value.id,
              text: value.name,
            });
          });
        })
        .catch((err) => {});
    },
    getEmployees(e) {
      if (e) {
        e.preventDefault();
      }
      this.employees = [];
      let data = {
        startDate: this.startDate,
        endDate: this.endDate,
      };
      let t = this;
      axios
        .get("/paygroups/" + this.payroll + "/salary-generated-employees", {
          params: data,
        })
        .then((res) => {
          t.employees = res.data.data;
          this.show = true;
        })
        .catch((err) => {});
    },
    getAllowances() {
      let t = this;
      axios
        .get("/allowances/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.allowances.push({
              id: 0,
              allowanceId: value.id,
              name: value.name,
              amount: 0,
            });
          });
        })
        .catch((err) => {});
    },
    getDeductables() {
      let t = this;
      axios
        .get("/deductables/all/data")
        .then((res) => {
          $.each(res.data, function (index, value) {
            t.deductables.push({
              id: 0,
              deductionId: value.id,
              name: value.name,
              amount: 0,
            });
          });
        })
        .catch((err) => {});
    },
    getSalaryTotal() {
      let employee = {
        employee_id: this.selectedEmployee.name.id,
        salaryId: this.selectedEmployee.salaryId,
        startDate: this.selectedEmployee.startDate,
        basicSalary: this.selectedEmployee.basicSalary,
        grossSalary: this.selectedEmployee.grossSalary,
        netSalary: this.selectedEmployee.netSalary,
        allowances: this.selectedEmployee.allowances,
        deductables: this.selectedEmployee.deductables,
      };
      let allowances = employee.allowances != null ? employee.allowances : [];
      let deductables =
        employee.deductables != null ? employee.deductables : [];
      let allowancesSum = 0;
      let deductablesSum = 0;

      $.each(this.excludedAllowances, function (index, value) {
        if (value.amount > 0) {
          allowances.push(value);
        }
      });
      employee.allowances = allowances;
      allowancesSum = employee.allowances.reduce(
        (acc, allowance) => Number(acc) + Number(allowance.amount),
        0
      );
      $.each(this.excludedDeductables, function (index, value) {
        if (value.amount > 0) {
          deductables.push(value);
        }
      });
      employee.deductables = deductables;
      deductablesSum = employee.deductables.reduce(
        (acc, deductable) => Number(acc) + Number(deductable.amount),
        0
      );
      employee.grossSalary =
        Number(allowancesSum) + Number(employee.basicSalary);
      employee.netSalary =
        Number(employee.grossSalary) - Number(deductablesSum);
      return employee;
    },
    updateSalary() {
      this.updated = false;
      this.errors = [];
      this.success = "";
      let employee = this.getSalaryTotal();
      let t = this;
      axios
        .put("/employee-salaries/" + employee.salaryId, employee)
        .then((res) => {
          this.success = res.data.success;
          this.updated = true;
          this.$bvToast.show("salary-update-success");
          this.$refs["employee-salary-edit"].hide();
        })
        .catch((err) => {
          if (typeof err.response.data == "object") {
            this.errors.push({ error: err.response.data.message });
            this.$bvToast.show("salary-edit-error");
          } else {
            $.each(err.response.data, function (indexMain, errors) {
              $.each(errors, function (index, error) {
                t.errors.push({ error: error });
              });
            });
            this.$bvToast.show("salary-edit-error");
          }
        });
    },
    exportEmployees() {
      this.errors = [];
      if (this.selectedEmployeesId.length) {
        let params = {
          startDate: this.startDate,
          endDate: this.endDate,
          ids: this.selectedEmployeesId,
        };
        axios
          .get("/employee-salaries/excel-export", {
            params: params,
            responseType: "blob",
          })
          .then((res) => {
            console.log(res);
            const url = window.URL.createObjectURL(new Blob([res.data]));
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", "Salary.xlsx"); //or any other extension
            document.body.appendChild(link);
            link.click();
          })
          .catch((err) => {});
      } else {
        this.errors.push({ error: "No employee selected." });
        this.$bvToast.show("salary-edit-error");
      }
    },
    updateComponent() {
      if (this.updated) {
        this.getEmployees();
      }
    },
    selectAllEmployees() {
      this.employees.forEach((employee) => {
        Vue.set(employee, "selected", this.checkallEmployee);
      });
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
  computed: {
    selectedEmployee() {
      let employee = this.employees.filter(
        (employee) => employee.name.id == this.employeeId
      );
      return employee[0];
    },
    selectedEmployeesId() {
      let ids = [];
      let employees = this.employees.filter(
        (employee) => employee.selected == true
      );
      ids = employees.map((employees) => employees.name.id);
      return ids;
    },
    includedAllowances() {
      if (this.selectedEmployee.allowances == null) {
        return [0];
      } else {
        let allowances = this.selectedEmployee.allowances.map(
          (allowances) => allowances.allowanceId
        );
        return allowances;
      }
    },
    excludedAllowances() {
      let allowances = this.allowances.filter(
        (allowance) => !this.includedAllowances.includes(allowance.allowanceId)
      );
      return allowances;
    },
    includedDeductables() {
      if (this.selectedEmployee.deductables == null) {
        return [0];
      } else {
        let deductables = this.selectedEmployee.deductables.map(
          (deductables) => deductables.deductionId
        );
        return deductables;
      }
    },
    excludedDeductables() {
      let deductables = this.deductables.filter(
        (deductable) =>
          !this.includedDeductables.includes(deductable.deductionId)
      );
      return deductables;
    },
    selectedPayRoll() {
      return this.payrolls.filter((payroll) => payroll.id == this.payroll)[0];
    },
  },
};
</script>
<style>
.salaryInput {
  width: 100px;
}
#employeeSalary .card-header {
  padding-top: 0.001em;
  padding-left: 0.6em;
  padding-bottom: 0.8em;
}
#employeeSalary .tab-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#salaryDetails .b-table-sticky-header {
  max-height: 700px;
}
</style>
